@use 'variables' as v;
// 以下擷取自 Bootstrap

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    // scss-docs-start utils-vertical-align
    'align':
      (
        property: vertical-align,
        class: va,
        values: baseline top middle bottom text-bottom text-top,
      ),
    // scss-docs-end utils-vertical-align
    // scss-docs-start utils-display
    'display':
      (
        responsive: true,
        property: display,
        class: d,
        values: inline inline-block block grid inline-grid table table-row
          table-cell flex inline-flex none,
      ),
    // scss-docs-end utils-display
    // scss-docs-start utils-position
    'position':
      (
        responsive: true,
        property: position,
        class: pos,
        values: v.$position-list,
      ),
    'top': (
      responsive: true,
      property: top,
      class: t,
      values: v.$position-values,
    ),
    'bottom': (
      responsive: true,
      property: bottom,
      class: b,
      values: v.$position-values,
    ),
    'left': (
      responsive: true,
      property: left,
      class: l,
      values: v.$position-values,
    ),
    'right': (
      responsive: true,
      property: right,
      class: r,
      values: v.$position-values,
    ),
    'translate-middle': (
      responsive: true,
      property: transform,
      class: translate-middle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
        none: translate(0, 0),
      ),
    ),
    // scss-docs-end utils-position
    // Sizing utilities
    // scss-docs-start utils-sizing
    'width':
      (
        property: width,
        class: w,
        values: (
          25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
          auto: auto,
        ),
      ),
    'max-width': (
      property: max-width,
      class: max-w,
      values: (
        100: 100%,
      ),
    ),
    'viewport-width': (
      property: width,
      class: vw,
      values: (
        100: 100vw,
      ),
    ),
    'min-viewport-width': (
      property: min-width,
      class: min-vw,
      values: (
        100: 100vw,
      ),
    ),
    'height': (
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    'max-height': (
      property: max-height,
      class: max-h,
      values: (
        100: 100%,
      ),
    ),
    'viewport-height': (
      property: height,
      class: vh,
      values: (
        100: 100vh,
      ),
    ),
    'min-viewport-height': (
      property: min-height,
      class: min-vh,
      values: (
        100: 100vh,
      ),
    ),
    // scss-docs-end utils-sizing
    // Flex utilities
    // scss-docs-start utils-flex
    'flex':
      (
        responsive: true,
        property: flex,
        values: (
          fill: 1 1 auto,
        ),
      ),
    'flex-direction': (
      responsive: true,
      property: flex-direction,
      class: flex,
      values: (
        row: row,
        col: column,
        row-r: row-reverse,
        col-r: column-reverse,
      ),
    ),
    'flex-grow': (
      responsive: true,
      property: flex-grow,
      class: flex,
      values: (
        grow-0: 0,
        grow-1: 1,
      ),
    ),
    'flex-shrink': (
      responsive: true,
      property: flex-shrink,
      class: flex,
      values: (
        shrink-0: 0,
        shrink-1: 1,
      ),
    ),
    'flex-wrap': (
      responsive: true,
      property: flex-wrap,
      class: flex,
      values: wrap nowrap wrap-reverse,
    ),
    'justify-content': (
      responsive: true,
      property: justify-content,
      class: jc,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    'align-items': (
      responsive: true,
      property: align-items,
      class: ai,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    'align-content': (
      responsive: true,
      property: align-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch,
      ),
    ),
    'align-self': (
      responsive: true,
      property: align-self,
      values: (
        auto: auto,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    // scss-docs-end utils-flex
    // Margin utilities
    // scss-docs-start utils-spacing
    'margin':
      (
        responsive: true,
        property: margin,
        class: m,
        values:
          map-merge(
            v.$spacers,
            (
              auto: auto,
            )
          ),
      ),
    'margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values:
        map-merge(
          v.$spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-y': (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values:
        map-merge(
          v.$spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-top': (
      responsive: true,
      property: margin-top,
      class: mt,
      values:
        map-merge(
          v.$spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-end': (
      responsive: true,
      property: margin-right,
      class: me,
      values:
        map-merge(
          v.$spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values:
        map-merge(
          v.$spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-start': (
      responsive: true,
      property: margin-left,
      class: ms,
      values:
        map-merge(
          v.$spacers,
          (
            auto: auto,
          )
        ),
    ),
    // Padding utilities
    'padding':
      (
        responsive: true,
        property: padding,
        class: p,
        values: v.$spacers,
      ),
    'padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: v.$spacers,
    ),
    'padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: v.$spacers,
    ),
    'padding-top': (
      responsive: true,
      property: padding-top,
      class: pt,
      values: v.$spacers,
    ),
    'padding-end': (
      responsive: true,
      property: padding-right,
      class: pe,
      values: v.$spacers,
    ),
    'padding-bottom': (
      responsive: true,
      property: padding-bottom,
      class: pb,
      values: v.$spacers,
    ),
    'padding-start': (
      responsive: true,
      property: padding-left,
      class: ps,
      values: v.$spacers,
    ),
    // Gap utility
    'gap':
      (
        responsive: true,
        property: gap,
        class: gap,
        values: v.$spacers,
      ),
    'row-gap': (
      responsive: true,
      property: row-gap,
      class: row-gap,
      values: v.$spacers,
    ),
    'column-gap': (
      responsive: true,
      property: column-gap,
      class: col-gap,
      values: v.$spacers,
    ),
    // scss-docs-end utils-spacing
    // Text
    // scss-docs-start utils-text
    'text-align':
      (
        responsive: true,
        property: text-align,
        class: tx,
        values: (
          left: left,
          right: right,
          center: center,
        ),
      ),
    'white-space': (
      property: white-space,
      class: text,
      values: (
        wrap: normal,
        nowrap: nowrap,
      ),
    ),
    'word-wrap': (
      property: word-wrap word-break,
      class: text,
      values: (
        break: break-word,
      ),
      rtl: false,
    ),
    // scss-docs-end utils-text
    // scss-docs-start utils-interaction
    'user-select':
      (
        property: user-select,
        class: userSelect,
        values: all auto none,
      ),
    'pointer-events': (
      property: pointer-events,
      class: pe,
      values: none auto,
    ),
    // scss-docs-end utils-interaction
    // scss-docs-start utils-border-radius
    'rounded':
      (
        property: border-radius,
        class: rounded,
        values: (
          null: v.$border-radius,
          0: 0,
          1: v.$border-radius-sm,
          2: v.$border-radius,
          3: v.$border-radius-lg,
          4: v.$border-radius-xl,
          5: v.$border-radius-xxl,
          Circle: 50%,
          Pill: v.$border-radius-pill,
        ),
      ),
    'rounded-top': (
      property: border-top-left-radius border-top-right-radius,
      class: rounded-t,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    'rounded-end': (
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-r,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    'rounded-bottom': (
      property: border-bottom-right-radius border-bottom-left-radius,
      class: rounded-b,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    'rounded-start': (
      property: border-bottom-left-radius border-top-left-radius,
      class: rounded-l,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    // scss-docs-end utils-border-radius
  ),
  $utilities
);
