@use 'variables' as v;
// 以下擷取自 Bootstrap

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    // scss-docs-start utils-vertical-align
    // "align": (
    //   property: vertical-align,
    //   class: align,
    //   values: baseline top middle bottom text-bottom text-top
    // ),
    // scss-docs-end utils-vertical-align
    // scss-docs-start utils-display
    'display':
      (
        responsive: true,
        property: display,
        class: d,
        values: v.$display-list,
      ),
    // scss-docs-end utils-display
    // scss-docs-start utils-position
    'position':
      (
        property: position,
        class: pos,
        values: v.$position-list,
      ),
    'top': (
      property: top,
      values: v.$position-values,
    ),
    'bottom': (
      property: bottom,
      values: v.$position-values,
    ),
    'start': (
      property: left,
      class: start,
      values: v.$position-values,
    ),
    'end': (
      property: right,
      class: end,
      values: v.$position-values,
    ),
    'translate-middle': (
      property: transform,
      class: translateMiddle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      ),
    ),
    // scss-docs-end utils-position
    // Sizing utilities
    // scss-docs-start utils-sizing
    'width':
      (
        property: width,
        class: w,
        values: (
          25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
          Auto: auto,
        ),
      ),
    'max-width': (
      property: max-width,
      class: maxW,
      values: (
        100: 100%,
      ),
    ),
    'viewport-width': (
      property: width,
      class: vw,
      values: (
        100: 100vw,
      ),
    ),
    'min-viewport-width': (
      property: min-width,
      class: minVw,
      values: (
        100: 100vw,
      ),
    ),
    'height': (
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        Auto: auto,
      ),
    ),
    'max-height': (
      property: max-height,
      class: maxH,
      values: (
        100: 100%,
      ),
    ),
    'viewport-height': (
      property: height,
      class: vh,
      values: (
        100: 100vh,
      ),
    ),
    'min-viewport-height': (
      property: min-height,
      class: minVh,
      values: (
        100: 100vh,
      ),
    ),
    // scss-docs-end utils-sizing
    // Flex utilities
    // scss-docs-start utils-flex
    'flex':
      (
        responsive: true,
        property: flex,
        values: (
          fill: 1 1 auto,
        ),
      ),
    'flex-direction': (
      responsive: true,
      property: flex-direction,
      class: flex,
      values: (
        R: row,
        C: column,
        RR: row-reverse,
        CR: column-reverse,
      ),
    ),
    'flex-grow': (
      responsive: true,
      property: flex-grow,
      class: flex,
      values: (
        G0: 0,
        G1: 1,
      ),
    ),
    'flex-shrink': (
      responsive: true,
      property: flex-shrink,
      class: flex,
      values: (
        S0: 0,
        S1: 1,
      ),
    ),
    'flex-wrap': (
      responsive: true,
      property: flex-wrap,
      class: flex,
      values: (
        Wrap: wrap,
        Nowrap: nowrap,
        WrapReverse: wrap-reverse,
      ),
    ),
    'justify-content': (
      responsive: true,
      property: justify-content,
      class: jc,
      values: (
        Start: flex-start,
        End: flex-end,
        Center: center,
        Between: space-between,
        Around: space-around,
        Evenly: space-evenly,
      ),
    ),
    'align-items': (
      responsive: true,
      property: align-items,
      values: (
        Start: flex-start,
        End: flex-end,
        Center: center,
        Baseline: baseline,
        Stretch: stretch,
      ),
    ),
    // "align-content": (
    //   responsive: true,
    //   property: align-content,
    //   values: (
    //     start: flex-start,
    //     end: flex-end,
    //     center: center,
    //     between: space-between,
    //     around: space-around,
    //     stretch: stretch,
    //   )
    // ),
    // "align-self": (
    //   responsive: true,
    //   property: align-self,
    //   values: (
    //     auto: auto,
    //     start: flex-start,
    //     end: flex-end,
    //     center: center,
    //     baseline: baseline,
    //     stretch: stretch,
    //   )
    // ),
    // scss-docs-end utils-flex
    // Margin utilities
    // scss-docs-start utils-spacing
    'margin':
      (
        responsive: true,
        property: margin,
        class: m,
        values:
          map-merge(
            v.$spacers,
            (
              Auto: auto,
            )
          ),
      ),
    'margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values:
        map-merge(
          v.$spacers,
          (
            Auto: auto,
          )
        ),
    ),
    'margin-y': (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values:
        map-merge(
          v.$spacers,
          (
            Auto: auto,
          )
        ),
    ),
    'margin-top': (
      responsive: true,
      property: margin-top,
      class: mt,
      values:
        map-merge(
          v.$spacers,
          (
            Auto: auto,
          )
        ),
    ),
    'margin-end': (
      responsive: true,
      property: margin-right,
      class: me,
      values:
        map-merge(
          v.$spacers,
          (
            Auto: auto,
          )
        ),
    ),
    'margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values:
        map-merge(
          v.$spacers,
          (
            Auto: auto,
          )
        ),
    ),
    'margin-start': (
      responsive: true,
      property: margin-left,
      class: ms,
      values:
        map-merge(
          v.$spacers,
          (
            Auto: auto,
          )
        ),
    ),
    // Padding utilities
    'padding':
      (
        responsive: true,
        property: padding,
        class: p,
        values: v.$spacers,
      ),
    'padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: v.$spacers,
    ),
    'padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: v.$spacers,
    ),
    'padding-top': (
      responsive: true,
      property: padding-top,
      class: pt,
      values: v.$spacers,
    ),
    'padding-end': (
      responsive: true,
      property: padding-right,
      class: pe,
      values: v.$spacers,
    ),
    'padding-bottom': (
      responsive: true,
      property: padding-bottom,
      class: pb,
      values: v.$spacers,
    ),
    'padding-start': (
      responsive: true,
      property: padding-left,
      class: ps,
      values: v.$spacers,
    ),
    // Gap utility
    'gap':
      (
        responsive: true,
        property: gap,
        class: gap,
        values: v.$spacers,
      ),
    // "row-gap": (
    //   responsive: true,
    //   property: row-gap,
    //   class: row-gap,
    //   values: v.$spacers
    // ),
    // "column-gap": (
    //   responsive: true,
    //   property: column-gap,
    //   class: column-gap,
    //   values: v.$spacers
    // ),
    // scss-docs-end utils-spacing
    // Text
    // scss-docs-start utils-text
    'text-align':
      (
        responsive: true,
        property: text-align,
        class: tx,
        values: (
          Start: left,
          End: right,
          Center: center,
        ),
      ),
    // "white-space": (
    //   property: white-space,
    //   class: text,
    //   values: (
    //     wrap: normal,
    //     nowrap: nowrap,
    //   )
    // ),
    // "word-wrap": (
    //   property: word-wrap word-break,
    //   class: text,
    //   values: (break: break-word),
    //   rtl: false
    // ),
    // scss-docs-end utils-text
    // scss-docs-start utils-interaction
    'user-select':
      (
        property: user-select,
        class: userSelect,
        values: (
          All: all,
          Auto: auto,
          None: none,
        ),
      ),
    'pointer-events': (
      property: pointer-events,
      class: pe,
      values: (
        None: none,
        Auto: auto,
      ),
    ),
    // scss-docs-end utils-interaction
    // scss-docs-start utils-border-radius
    'rounded':
      (
        property: border-radius,
        class: rounded,
        values: (
          null: v.$border-radius,
          0: 0,
          1: v.$border-radius-sm,
          2: v.$border-radius,
          3: v.$border-radius-lg,
          4: v.$border-radius-xl,
          5: v.$border-radius-xxl,
          Circle: 50%,
          Pill: v.$border-radius-pill,
        ),
      ),
    'rounded-top': (
      property: border-top-left-radius border-top-right-radius,
      class: roundedT,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    'rounded-end': (
      property: border-top-right-radius border-bottom-right-radius,
      class: roundedR,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    'rounded-bottom': (
      property: border-bottom-right-radius border-bottom-left-radius,
      class: roundedB,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    'rounded-start': (
      property: border-bottom-left-radius border-top-left-radius,
      class: roundedL,
      values: (
        null: v.$border-radius,
        0: 0,
        1: v.$border-radius-sm,
        2: v.$border-radius,
        3: v.$border-radius-lg,
        4: v.$border-radius-xl,
        5: v.$border-radius-xxl,
        Circle: 50%,
        Pill: v.$border-radius-pill,
      ),
    ),
    // scss-docs-end utils-border-radius
  ),
  $utilities
);
