@import '@/styles';

.banner {
  display: flex;
  justify-content: space-around;
  margin-top: 94px;
  margin-bottom: 50px;
  height: 342px;
  border-radius: 41px;
  background-image: url('../../public/homepagePic/Rectangle\ 647.png');
  h2 {
    @include ff-maru;
    font-size: 56px;
    color: $color-shade-2;
    margin-top: 90px;
    background-color: green;
    @include rwd-above('sm') {
      background-color: red;
    }
    @include rwd-above('lg') {
      background-color: gold;
    }
  }
}
