@import '@/styles';

.banner {
  display: flex;
  justify-content: space-around;
  margin-top: 94px;
  margin-bottom: 50px;
  height: 342px;
  border-radius: 41px;
  background-image: url('../../public/homepagePic/Rectangle\ 647.png');
  h2 {
    @include ff-maru;
    font-size: 56px;
    color: $shade2;
    margin-top: 90px;
  }
  img{
    position: relative;
    left: 24px;
  }
}
