@import '@/styles';

.cards {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include rwd-above(sm) {
    gap: 25px;
  }
  @include rwd-above(xs) {
    gap: 16px;
  }
}

.card {
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  img {
    padding: 0;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }
}

.cardText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  h3 {
    margin-bottom: 8px;
    color: $shade4;
    font-size: 14px;
    @include rwd-above(sm) {
      font-size: 18px;
    }
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  p {
    color: $heading;
    font-size: 12px;
    @include rwd-above(sm) {
      font-size: 16px;
    }
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}
