@import '@/styles';

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  
    button {
      margin: 0 5px;
      padding: 8px 12px;
      border: 1px solid #ccc;
      background-color: #f8f8f8;
      cursor: pointer;
  
      &.activePage {
        background-color:$primary;
        color: #fff;
        border-color: $secondary;
      }
    }
  }
