@import '@/styles';

.box{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.tags {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  @include rwd-above(sm){
    gap: 20px;
  }
  margin-top: 36px;
  margin-bottom: 50px;
  overflow: hidden;
  scroll-behavior: smooth;
  
}


.arrow{
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.btn {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 36.55px;
  border: 1px solid var(--shade3, #5d524d);
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
}
.btn:nth-child(1) {
  border: 1px solid var(--shade3, #5d524d);
  background: var(--Secondary, #e7e1db);
}
