@import '@/styles/';

.tabBox {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $primary;

  button {
    padding: rem(20px);
    background-color: $white;
    border: none;
    border-bottom: 5px solid transparent !important;
    &.active {
      border-bottom-color: $primary !important;
    }
  }
}

.section {
  padding: 2rem 1rem;
}

.countPanel {
  margin-top: 1rem;
  padding-inline: rem(20px);
  border-bottom: 1px solid $tint3;
}

.cpCard {
  margin-inline: 1rem;
  @extend .gr-center;
  height: 100%;
  background-color: $tint3;
  border-radius: 12px;
  font-size: 3.5rem;
  color: $shade4;
}
