@import '@/styles';

.cartBox {
  display: flex;
  flex-direction: column;
  padding: 25px 18px;
  gap: 43px;
  border-radius: 10px;
  border: 1px solid var(--tint3, #dcd1cc);
  background: #fff;
  box-shadow: 0px 0px 4.7px 0px rgba(0, 0, 0, 0.2);
}

.price {
  align-self: stretch;
  border-bottom: 1px solid $tint3;
  h2 {
    color: $shade3;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    padding-bottom: 43px;
  }
}

.coupon {
    display: flex;
    align-items: center;
    gap: 10px;
  p {
    color: $shade4;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  button {
    display: flex;
    width: 301px;
    height: 46px;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:nth-child(1) {
      background: $primary;
    }

    &:nth-child(2) {
      border: 1px solid $shade3;
      background: #fff;
    }
  }
}
