@import '@/styles';

.links {
  display: flex;
  margin-bottom: 20px;
  @include rwd-above(sm){
    margin-bottom: 75px;
  }
  border-bottom: 1px solid $primary;

  a {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid transparent ;
    color: $heading;
    text-align: center;
    font-size: 12px;
    @include rwd-above(sm){ font-size: 16px;}
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 

    &:hover {
      color: $shade2;
        border-bottom:5px solid $primary ;
      }
  }
}
