@import '@/styles';

.content {
  img {
    margin-bottom: 60px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.summary {
  margin-bottom: 56px;
  h3 {
    @include rwd-above(sm) {
      font-size: 24px;
    }
    font-size: 14px;
    width: 90%;
    margin-bottom: 30px;
    color: $heading;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    word-break: break-all;
    white-space: pre-wrap;
    
  }
  p {
    
    @include rwd-above(sm) {
      font-size: 18px;
    }
    width: 90%;
    color: $body;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    white-space: pre-wrap;
  }
}

.title {
  h3 {
    color: $shade2;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    border-bottom: 1px solid $tint4;
    padding-bottom: 12px;
    margin-bottom: 36px;
  }
}

.btn {
  width: 328px;
  padding: 8px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  border: 1px solid $shade3;
  cursor: pointer;
  color: $shade2;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
  font-size: 14px;
  &:hover {
    background-color: $tint4;
  }

  @include rwd-above(sm) {
    width: 400px;
    padding: 8px 169px;
    font-size: 18px;
  }
}

.crsImg{
  width: 90%;
  height: auto;
 
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }


}
