@import '@/styles';

.topPanel {
  button {
    // display: block !important;
    width: rem(180px);
    height: 3rem;
    $t: 0.8s;
    transition: all $t ease-in-out !important;
    // transition: color $t ease-in-out, background-color $t ease-in-out,
    //   border-color $t ease-in-out, box-shadow $t ease-in-out,
    //   width $t ease-in-out, height $t ease-in-out !important;
    h4 {
      font-size: 1rem;
    }
    p {
      display: none;
    }
  }
}
.topPanel.beginningMode {
  min-height: 60vh;

  button {
    transition: all 10s ease-in-out !important;
    width: 100%;
    height: 200px;
    background-color: $secondary;
    box-shadow: 2px 2px 5px rgba($black, 0.2);
    border: 5px solid $primary;
    border-radius: 1rem;
    text-shadow: none !important;

    h4 {
      font-size: 3rem !important;
      color: $shade3 !important;
      font-weight: 800 !important;
      letter-spacing: 8px !important;
    }
    p {
      font-weight: 500;
      display: block !important;
    }

    &:hover {
      background-color: $tint3 !important;
      color: $shade4 !important;
    }
  }
}

.test {
  background-color: $primary;
  width: fit-content;
  padding: 1rem 3rem;
  transition: 2s;

  &:hover {
    width: 800px;
  }
}

.test.active {
  // transition: width 5s ease-in-out !important;
  width: 500px;
}
