@use '@/styles/color/variables' as c;
@use '@/styles/color/function' as f;

//*====== 個別樣式
//此檔整理特定款式按鈕的個別設定
//按鈕的通用樣式模組則於另外一檔

//若為模組已設定之樣式，則不重複設定
//以下按顏色分類
//todo================= todo =================//
.bPrimary2:has(.test-paw) {
  position: relative;

  &:hover {
    background-color: c.$white;

    .test-paw {
      color: c.$primary;
    }
  }
  &:active {
    background-color: c.$tint5;
  }
}
.test-paw {
  --fa-rotate-angle: 30deg;
  position: absolute;
  color: c.$white;
  transition: color 0.4s ease-in-out;

  &:first-child {
    bottom: 0.25rem;
    left: 0.75rem;
  }
  &:last-child {
    top: 0.5rem;
    right: 0.5rem;
  }
}
//================= primary =================//
@each $elem in (a, button) {
  #{$elem}.btn-primary,
  #{$elem}.btn-primary-brick {
    // color: c.$black;
    // $mu: 1px;
    // $nu: -1px;
    // $light: c.$tint3;
    // text-shadow: -1px -1px 0 $light, -2px -1px 0 $light, 1px 1px 0 $light,
    //   2px 1px 0 $light;
    // text-shadow: $mu $mu 0 $light, $nu $nu 0 $light;
    // letter-spacing: 2px;

    color: c.$white;
    text-shadow: 1px 0 1px c.$shade3, -1px 0 1px c.$shade3;
    font-weight: 600;

    &:hover {
      background-color: c.$tint1;
    }
    &:active {
      background-color: shift-color(c.$primary, 5%);
    }
  }
  #{$elem}.btn-primary-2 {
    $color: shift-color(c.$primary, 15%);
    color: $color;
    border-color: $color;

    &:hover {
      background-color: c.$tint5;
      color: c.$shade1;
    }
    &:active {
      background-color: c.$tint4;
    }
  }
}
//================= secondary =================//
@each $elem in (a, button) {
  @each $type in ('', '-icon', '-brick', '-brick-icon') {
    #{$elem}.btn-secondary {
      color: c.$shade4;

      &:hover {
        background-color: shift-color(c.$secondary, 5%);
      }
      &:active {
        background-color: shift-color(c.$secondary, 10%);
      }
    }
    #{$elem}.btn-secondary-2 {
      color: c.$shade3;
      border: 2px solid c.$shade3;

      transition: top 0.4s;
      //extra
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        display: block;
        // height: 50px;
        left: 0;
        right: 0;
        // top: 100%;
        top: 0;
        bottom: 0;
        background-color: c.$shade3;
        transition: transform 0.15s ease-in-out;
        transform: translateY(100%);
      }

      &:hover::before {
        // top: 50%;
        transform: translateY(70%);
        // background-color: c.$tint4;
        // box-shadow: inset 0 0 8px c.$shade3, inset 0 0 16px c.$shade1;
        // box-shadow: inset 0 -1rem 0 c.$shade3;
      }
      &:active {
        background-color: c.$shade3;
      }
    }
    #{$elem}.btn-secondary-icon {
      color: c.$shade2;
    }
    #{$elem}.btn-secondary-icon {
      background-color: c.$tint5;
      color: c.$shade2;
      border: 2px solid c.$shade2;
    }
  }
}
//================= error =================//
@each $elem in (a, button) {
  @each $type in ('', '-icon', '-brick', '-brick-icon') {
    #{$elem}.btn-error#{$type} {
      color: c.$white;
    }

    #{$elem}.btn-error#{$type}-2 {
      &:hover {
        background-color: f.shift-color(c.$error, -80%);
      }
      &:active {
        color: c.$white;
        background-color: f.shift-color(c.$error, -50%);
      }
    }
  }
}
//================= info =================//
@each $elem in (a, button) {
  @each $type in ('', '-icon', '-brick', '-brick-icon') {
    #{$elem}.btn-info#{$type}-2 {
      color: c.$info-text;
      &:hover {
        background-color: f.shift-color(c.$info, -80%);
      }
      &:active {
        background-color: f.shift-color(c.$info, -50%);
      }
    }
  }
}
//================= warning =================//
@each $elem in (a, button) {
  @each $type in ('', '-icon', '-brick', '-brick-icon') {
    #{$elem}.btn-warning#{$type}-2 {
      color: f.shift-color(c.$warning, 40%);
      &:hover {
        background-color: f.shift-color(c.$warning, -80%);
      }
      &:active {
        background-color: f.shift-color(c.$warning, -50%);
      }
    }
  }
}
