@use '@/styles' as s;
@use 'button-idv';

//*====== 通用樣式
//此檔整理按鈕共用的模組設定
//特定按鈕的各別樣式則於另外一檔

//====================== 原型定義區
@mixin btn-size($py, $px, $fz, $gap: initial) {
  padding: $py $px;
  font-size: $fz;
  gap: $gap;
}
@mixin btn-prototype() {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.4s ease-in-out;
}
//*====== 膠囊形按鈕
@mixin pill-btn-prototype() {
  @include btn-prototype();
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 99rem;

  // 預設值
  @include btn-size(1.25rem, 1.875rem, 1.125rem, 0.5rem);
  font-weight: 700;

  &.btn-sm {
    @include btn-size(0.8rem, 3.375rem, 1rem, 0.625rem);
    font-weight: 500;
  }
  &.btn-lg {
    @include btn-size(1.5rem, 2rem, 1.25rem, 0.5rem);
    // font-weight: 700;
  }
}
//*====== 圓形按鈕
@mixin icon-btn-prototype() {
  @include btn-prototype();
  // @extend .fxCenter;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  //default
  @include s.circle-of(64px);
  font-size: 1.5rem;

  &.btn-sm {
    @include s.circle-of(30px);
    font-size: 1rem;
  }
  &.btn-lg {
    @include s.circle-of(88px);
    font-size: 1.75rem;
  }
}

//====================== 模組定義區
//以下為簡易預設，詳細設定於
@each $color, $value in s.$theme-colors {
  //尺寸
  .btn-#{$color},
  .btn-#{$color}-2 {
    @include pill-btn-prototype();
  }
  .btn-#{$color}-icon,
  .btn-#{$color}-icon-2 {
    @include icon-btn-prototype();
  }
  //顏色
  .btn-#{$color} {
    background-color: $value;
    color: shift-color($value, 60%);
    border: none;
  }
  .btn-#{$color}-icon {
    background-color: $value;
    color: s.$white;
    border: none;
  }
  .btn-#{$color}-2,
  .btn-#{$color}-icon-2 {
    background-color: s.$white;
    color: $value;
    border: 3px solid $value;
  }
  //動態
  .btn-#{$color}-icon {
    &:hover {
      background-color: s.$white;
      color: $value;
      border: 2px solid $value;
    }
    &:active {
      background-color: shift-color($value, -50%);
    }
  }
  a.btn-#{$color}-icon-2,
  button.btn-#{$color}-icon-2 {
    &:hover {
      background-color: $value;
      color: s.$white;
    }
    
  }
}
