@import '@/styles';

.panel {
  width: 8rem;
  height: 3rem;
  background-color: $white;
  // 讓顏色受 JS 控制
  // border: 1px solid $body;

  & > * {
    flex-grow: 1;
  }
}

.panel button {
  display: block;
  border: none;
  height: 100%;
  text-align: center;
  background-color: $white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.4s ease-in-out;

  &:hover {
    background-color: $tint5;
  }
  &:active {
    background-color: $tint4;
  }
}

.panel button:disabled {
  background-color: $muted;
}
