@use 'lib-global.scss' as s;
@use '@/styles' as c;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.h3 {
  color: c.$shade4;
  margin-bottom: 20px;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-grow: 1;
}

.card {
  border: 1px solid c.$tint5;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .Btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: auto; 
    padding: 18px 0px;

  }
}
.image {
  position: relative;
  width: 100%;
  height: 318px; 
  // overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotelName {
  color: c.$shade4;
  font-weight: bold;
  margin: 10px 0;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
}

.description {
  font-size: 14px;
  color: c.$gray-600;
  flex-grow: 1;
  padding: 0 15px;
  max-height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.6;
}

.address{
  font-size: 18px;
  color: c.$shade2;
  font-weight: 500;
  flex-grow: 1;
  padding: 0 15px;
  max-height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.6;
  // margin-bottom: 2px;
}

.price {
  display: none;
  color: c.$shade4;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  background-color: c.$primary;
  color: c.$white;
  border: none;
  padding: 10px 60px;
  margin: 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: darken(#b9a69d, 10%);
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 480px) {
  .container {
    padding: 20px 0;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card {
    display: flex;
    width: 175px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 0;
  }
  .image {
    width: 175px;
    height: 135px;
    flex-shrink: 0;
  }

  .description {
    display: none;
  }

  .hotelName {
    align-self: stretch;
    color: var(--shade4, #37312e);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    // line-height: 20px;
    max-width: 160px;
    overflow: hidden;
    padding: 0 6px;
  }

  .h3 {
    margin-bottom: 0px;
    display: none;
  }

  .price {
    display: block;
    align-self: stretch;
    padding: 0 8px;
    margin: 10px 0;
    font-size: 18px;
  }
  .button {
    display: none;
  }
  .address{
    font-size: 12px;
    max-width: 160px;
    overflow: hidden;
    padding: 0 6px;
  }
}
