@use 'lib-global.scss' as s;
@use '@/styles' as c;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.h3 {
  color: c.$shade2;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid c.$tint5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 18px 26px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hotelName {
  color: c.$shade4;
  font-weight: bold;
  margin: 10px 0;
  padding: 0 15px;
}

.description {
  font-size: 14px;
  color: c.$gray-800;
  flex-grow: 1;
  padding: 0 15px;
}

.button {
  background-color: c.$primary;
  color: c.$white;
  border: none;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(#B9A69D, 10%);
  }
}