@use '@/styles' as s;

.foo {
  background-color: s.$tint4;
  padding-block: 0;
  @include s.rwd-above('lg') {
    padding-block: 4.75rem;
  }
}
.fooBody {
  // height: 302px;
  background-color: s.$primary;
  border-radius: 0;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include s.rwd-above('lg') {
    border-radius: 80px 80px 80px 0;
  }
}

.fooL {
  @extend .gr-center;
  margin-bottom: 3rem;
  @include s.rwd-above('lg') {
    margin-bottom: 0;
    display: block;
  }
}
.copyright {
  @include s.ff-noto(10px, 18px);
  line-height: 30px;
  color: s.$shade2;
  margin-top: 40px;
  @include s.rwd-above('lg') {
    margin-top: 20px;
  }
}

.fooR {
  display: flex;
  justify-content: space-between;
  @include s.rwd-above('lg') {
    max-width: 640px;
  }
  > div {
    display: flex;
  }
  h3 {
    color: s.$shade2;
    writing-mode: vertical-rl;
    margin-right: 0.75rem;
    letter-spacing: 5px;
    font-size: 1.25rem;
    font-weight: 700;
  }
  ul {
    margin-right: 100px;
  }
  &:last-child ul {
    margin-right: 0;
  }

  li {
    margin-bottom: 12px;

    @include s.rwd-above('lg') {
      min-width: 7rem;
    }
  }
  a {
    display: block;
    width: 100%;
    color: s.$tint5;
    line-height: 12px;
    @include s.ff-noto(1rem);
  }
}

.ulIcon {
  @include s.circle-of(1.5rem);
  margin-right: 0.5rem;
  display: inline-grid;
  place-content: center;
  background-color: transparent;
  color: s.$white;
  border: 1px solid s.$white;
  font-size: 0.75rem;
}
