@use '@/styles' as styles;

.foo {
  background-color: styles.$light;
  padding-block: 4.75rem;
}
.fooBody {
  // height: 302px;
  background-color: styles.$primary;
  border-radius: 80px 80px 80px 0;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fooL {
  // flex-direction: column;
  // margin-right: 100px;
  p {
    @include styles.ff-noto(10px, 18px);
    line-height: 30px;
    color: styles.$color-shade-2;
    margin-top: 20px;
  }
}

.fooR {
  display: flex;
  > div {
    display: flex;
  }
  h3 {
    color: styles.$color-shade-2;
    writing-mode: vertical-rl;
    margin-right: 24px;
    letter-spacing: 5px;
  }
  ul {
    margin-right: 100px;
  }
  &:last-child ul {
    margin-right: 0;
  }

  li {
    margin-bottom: 12px;
  }
  a {
    color: styles.$color-tint-5;
    text-decoration: none;
    line-height: 12px;
    @include styles.ff-noto(16px, 16px);

    img {
      vertical-align: middle;
      margin-right: 8px;
    }
  }
}

.ulIcon {
  @include styles.circle-of(25px);
  @extend .fxCenter;
  background-color: styles.$secondary;
  color: styles.$primary;
}