@use '@/styles' as s;

.ulFunc {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  button,
  a {
    font-size: 2rem;
    color: s.$shade2;
  }

  button {
    background-color: transparent;
    border: none;
  }

  .cartBtn {
    position: relative;

    // 購物車項目數量
    .number {
      $l: s.rem(20px);
      position: absolute;
      // @extend .fx-center;
      //! display 由 js 控制
      justify-content: center;
      align-items: center;
      width: $l;
      height: $l;
      top: -10px;
      right: -8px;
      background-color: s.$shade1;
      color: s.$white;
      font-weight: 600;
      font-size: 1rem;
      // padding: 0.25rem 0.5rem;
      border-radius: 50%;
    }
  }
}
