.imgWrap {
  // overflow: hidden;
  height: fit-content;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grCenter {
  display: grid;
  place-items: center;
}

.txCenter {
  text-align: center;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vstack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dBlock {
  display: block;
}
.dIBlock {
  display: inline-block;
}
.dFlex {
  display: flex;
}

.jcCenter {
  justify-content: center;
}
.jcAround {
  justify-content: space-around;
}
.jcBetween {
  justify-content: space-between;
}
.jcEvenly {
  justify-content: space-evenly;
}
