@import '@/styles';

.articleContent {
  display: flex;
  width: 725px;
  height: 100%;
  padding: 50px 40px;
  margin-top: 38px;
  margin-left: 56px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 5px;
  background: #fff;

  /* Shadow */
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
  @media (max-width:768px) {
    width: 100%;
    margin: 0;
  }
}
.contentCreater {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.userData {
  display: flex;
}
.imageContainer {
  position: relative;
  width: 40px;
  height: 40px;
}
.userIcon {
  border-radius: 50%;
  background: rgb(255, 255, 255) 50% / cover no-repeat;
}

.nicknameArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15px;
}

.nickName {
  color: #000;
  font-family: 'Noto Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
}

.creatTime {
  color: var(--Subtitle-text-color, #808080);
  font-family: 'Noto Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

.articleTitle {
  align-self: stretch;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainContent {
  align-self: stretch;
  color: var(--Body, #757575);
  font-family: 'Noto Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  white-space: pre-wrap;
  img {
    max-width: 100%;
    height: auto;
  }
}

.artiInfo {
  display: flex;
  padding-right: 18px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.artiTags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 5px;
  background: var(--Border, #eaeaea);
}
.tag p {
  color: var(--Subtitle-text-color, #808080);
  font-family: 'Noto Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

.ratingArea {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 100%;
  span {
    // border-left: 1px solid #000;
    padding: 5px;
    color: #000;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.24px;
  }
  button{
    font-size: 24px;
    background: #fff;
  }
}

.rateBtnArea {
  // border: #000 1px solid;
  display: flex;
  gap: 5px;
  align-items: center;
}

.rateBtn {
  border: 0;
  cursor: pointer;
}
