@import '@/styles';


.pageCtrl {
  display: flex;
  width: 270px;
  height: 100%;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid var(--Border, #eaeaea);
  background: var(--white, #fff);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  margin-left: 100px;
  margin-top: 37px;
  @media (max-width:768px) {
    display: none;
  }
}
.imageContainer {
  position: relative;
  width: 200px;
  height: 200px;
}
.userImg {
  border-radius: 50%;
}

.ctrlText {
  color: #000;
  font-family: 'Noto Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
}

.identityText {
  color: var(--warning, #fbc02d);
  font-family: 'Noto Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 81.818% */
  letter-spacing: 0.44px;
}
