@import '@/styles/component/_container.scss';
@import '@/styles/useful/colors.scss';

.mt3 {
  margin-top: 95px;
}
.section {
  width: 1440px;
  height: 342px;
  border-radius: 41px;
  background-image: url(/prodPic/Rectangle647.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: space-around;
}

.shibaBox {
  height: 100%;
}

.pt3{
    padding-top: 90.78px;
}
.dogFood {
    color: #6F625C;
}
