@import '@/styles/component/_container.scss';
@import '@/styles/useful/colors.scss';

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.mt3 {
  margin-top: 95px;
}
.section {
  width: 1440px;
  height: 342px;
  border-radius: 41px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  margin-top: 70px;
  flex: 1;
}
