$white:    hsl(0, 0%, 100%);
$gray-100: #fafafa;
$gray-200: #eeeded;
$gray-300: #e4e3e2;
$gray-400: #d5d3d3;
$gray-500: #b7b5b4;
$gray-600: #787473;
$gray-700: #514e4d;
$gray-800: #3c3a39;
$gray-900: #272625;
$black:    hsl(0, 0%, 0%);

$primary:   #B9A399;// hsl(19, 19%, 66%)
$secondary: #E7E1DB;// hsl(30, 20%, 88%)
$warning:   #FBC02D; // hsl(43, 96%, 58%)
$error:     #E53835; // hsl(1, 77%, 55%)
$info:      #71c4ef; // hsl(200, 80%, 69%)

/* text color 灰階 */
$heading: $gray-800;
$body:    $gray-600;
$muted:   $gray-400;

/* text color 帶色 */
$primary-text: #49352c;//hsl(19, 25%, 23%)
$info-text:    #2c4049;
$error-text:   #492c2c;

/* color shade */
$shade1: #857A79;// hsl(5, 5%, 50%)
$shade2: #6F625C;// hsl(19, 9%, 40%)
$shade3: #5D524D;// hsl(19, 9%, 33%)
$shade4: #37312E;// hsl(20, 9%, 20%)
$shade5: #161413;// hsl(20, 7%, 8%)

/* color shade */
$tint1: #C0ACA3;
$tint2: #CEBFB8;
$tint3: #DCD1CC;
$tint4: #EAE3E0;
$tint5: #F1EDEB;

//* 沒有 success，沒有 danger
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "info":       $info,
  "warning":    $warning,
  "error":      $error,
  "white":      $white,
  "black":      $black,
  "shade1":     $shade1,
  "shade2":     $shade2,
  "shade3":     $shade3,
  "shade4":     $shade4,
  "shade5":     $shade5,
  "tint1":      $tint1,
  "tint2":      $tint2,
  "tint3":      $tint3,
  "tint4":      $tint4,
  "tint5":      $tint5,
  "heading":    $heading,
  "body":       $body,
  "muted":      $muted,
);

@each $color, $value in $theme-colors {
	//文字
	.tx-#{$color} {
		color: $value;
	}
	//背景
	.bg-#{$color} {
		background-color: $value;
	}
}