@import '@/styles/useful/_colors.scss';
@import '@/styles/component/_container.scss';

.logo {
	max-width: 210px;
}
header.layout > .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header.layout nav ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}