@import '@/styles';

.videoWrapper {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.videoPlayer {
  padding: 0;
  width: 100%;
  height: 280px;
  @include rwd-above(sm) {
    height: 480px;
  }
}

.courseContent {
  padding: 40px 20px;
  h4 {
    margin-bottom: 5px;
  }
}

.section {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 10px;
  }
}

.lesson {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: $tint5;
  }

  &.active {
    background-color: $tint2;
  }

  input[type='checkbox'] {
    margin-right: 10px;
  }

  span:last-child {
    margin-left: auto;
  }
}

.container {
  background-color: $primary;
  padding: 34px 0;
}

.mainContent {
  background-color: $tint4;
  flex-direction: column;
  @include rwd-above(sm) {
    flex-direction: row;
  }
}

.videoContent {
  h2 {
    color: $heading;
    padding-left: 20px;
  }
  width: 100%;
  margin-bottom: 0px;
  @include rwd-above(sm) {
    flex: 1;
    padding: 20px 16px;
    margin-bottom: 20px;
  }
}

.sidebar {
  width: 100%;
  @include rwd-above(sm) {
    overflow-y: auto;
    width: 40%;
  }
}
