@import '@/styles';

.leftSide {
  display: flex;
  width: 297px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 40px;
}

.leftTitle {
  display: flex;
  width: 301px;
  height: 46px;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  background: $primary;
  margin-bottom: 30px;
}


@media (max-width: 768px) {
  .leftSide{
    flex-direction: row;
  }
}
