@import '@/styles/useful/font.scss';
@import '@/styles/useful/colors.scss';
@import '@/styles/scss/_container.scss';

.mb {
    margin-bottom: 18px;
    margin-left: 11px;
}

.font {
    font-family: "Noto Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    color: #6F625C;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.ractangle {
    width: 255px;
    border-radius: 15px;
    border: 2px solid #B9A399;
}

.margin {
    display: flex;
    flex-direction: column;
    margin: 25px 27px 34px 28px;
    gap: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    padding: 6px 14px;
    border-radius: 50px;
    border: 1px solid #B9A399;
    gap: 8px;
    cursor: pointer;
}

.checked {
    background: #E7E1DB;
}

.btnFont {
    color: #6F625C;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.arrow {
    width: fit-content;
    cursor: pointer;
}

.btnAge {
    border-radius: 50px;
    border: 1px solid #C6B4AC;
    display: flex;
    width: 86px;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gap {
    gap: 7px;
}

.price-filter {
    width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .price-label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .horizontal-slider {
    position: relative;
    height: 10px;
  }
  
  .track {
    top: 0;
    bottom: 0;
    background: #ddd;
    border-radius: 999px;
  }
  
  .thumb {
    height: 20px;
    width: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  
  .price-range {
    margin-top: 10px;
    font-size: 14px;
  }



