@import '@/styles/scss/_container.scss';
@import '@/styles/useful/colors.scss';

.ul {
  list-style-type: none;
}

.justifyContentBetween {
  justify-content: space-between;
}
.alignItemCenter{
    align-items: center;
}

.dark{
    color: black;
    text-wrap: nowrap;
}



