@use '@/styles';

.ul {
  list-style-type: none;
}

.justifyContentBetween {
  justify-content: space-between;
}
.alignItemCenter{
    align-items: center;
}

.dark{
    color: black;
    text-wrap: nowrap;
}



