@use '@/styles' as s;

.productGrid {
  margin-top: 2.125rem;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  height: 23.5rem;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid s.$secondary;
}
.heartIconBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 0.8rem;
}
.heartIcon {
  width: 1.4rem;
  height: 1.4rem;
}
.prodImg {
  width: fit-content;
  height: fit-content;
}
.prodImgBox {
  margin: 0 auto;
}
.textarea {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
}
.prodName {
  color: s.$gray-800;
  font-family: 'Noto Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
}
.prodPrice {
  color: s.$color-shade-3;
  font-family: 'Noto Sans';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 143.715px;
  height: 38.171px;
  background: s.$primary;
  border-radius: 40px;
  background: var(--Primary, #b9a399);
  color: s.$white;
  margin: 14px auto;
}
