@use '@/styles';

.mt {
  margin-top: 93px;
}
.section {
  width: 100%;
  border-radius: 41px;
  background-image: url(/prodPic/Rectangle647.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
}

.shibaBox {
  height: 100%;
}

.pt3{
    padding-top: 90.78px;
}
.dogFood {
    color: #6F625C;
}
