@import '../styles/useful/colors.scss';
@import '/styles/style.module.scss';

.customSelect {
  position: relative;
  width: 300px;
  align-items: center;
  margin: 6px 14px 6px 8px;
  gap: 8px;
  text-wrap: nowrap;

  select {
    align-items: center;
    appearance: none; // 隱藏預設下箭頭
    -webkit-appearance: none;
    -moz-appearance: none;
    width: fit-content;
    padding: 6px 14px; // 留空間給自訂箭頭
    border: 1px solid $primary;
    border-radius: 50px;
  }
}

.arrow {
  width: 14px;
  height: 8px;
  background-image: url(/prodPic/Vector.png);
  background-repeat: no-repeat;
}