@use '@/styles/color/variables' as c;
.h1,
.h2 {
  margin-block: 1rem;
  text-align: center;
}

.linkPanel {
  a {
    display: grid;
    place-items: center;
    height: 100px;
    transition: filter 0.4s;
    font-size: 3rem;
    border-radius: 2rem;

    &:hover {
      filter: brightness(1.1);
    }
  }
  div:nth-child(1) a {
    background-color: c.$primary;
  }
  div:nth-child(2) a {
    background-color: c.$shade4;
    color: c.$tint4;
  }
  div:nth-child(3) a {
    background-color: c.$warning;
  }
  div:nth-child(4) a {
    background-color: c.$shade1;
    color: c.$secondary;
  }
  div:nth-child(5) a {
    background-color: c.$info;
  }
  div:nth-child(6) a {
    background-color: c.$error-text;
    color: c.$secondary;
  }
  div:nth-child(7) a {
    background-color: c.$shade2;
    color: c.$tint4;
  }
  div:nth-child(8) a {
    background-color: c.$info-text;
    color: c.$tint4;
  }
  div:nth-child(9) a {
    background-color: c.$tint3;
    color: c.$shade2;
  }
  div:nth-child(10) a {
    background-color: c.$primary-text;
    color: c.$secondary;
  }
}

.dlBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
}

.instructionList {
  dt {
    font-size: 1.6rem;
  }
  dd {
    margin-block: 2rem;
    padding: .5rem;
    font-size: 1rem;
    line-height: 2;
    border: 1px solid c.$tint3;

    p {
      margin-top: 0.5rem;

      code {
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
      }
    }
  }
}
