.hotelImg {
  flex: 1;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainImg {
  width: 100%;
  height: 700px;
  /* background-color: #c2db83; */
  border-radius: 12px;
}

.subImg {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.img {
  width: 130px;
  height: 110px;
  background-color: #dbac83;
  border-radius: 12px;
}