@import '@/styles/scss/_container.scss';
@import '@/styles/useful/colors.scss';

.article {
  display: flex;
  padding: 25px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--Border, #EAEAEA);
  background: #FFF;
  width: 726px;
  height: 221px;
  margin-bottom: 12px;

  /* Shadow */
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.userData {
  display: flex;
}

.userIcon {
  border-radius: 40px;
  background: lightgray 50% / cover no-repeat;
}

.nicknameArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15px;
}

.nickName {
  color: #000;
  font-family: "Noto Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
}

.creatTime {
  color: var(--Subtitle-text-color, #808080);
  font-family: "Noto Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

.shortContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.mainTitle {
  color: var(--Header, #424242);
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
}

.extract {
  width: 665px;
  color: #000;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  /* 178.571% */
  letter-spacing: 0.7px;
}

.artiInfo {
  display: flex;
  padding-right: 18px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.artiTags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 5px;
  background: var(--tint5, #F1EDEB);
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #FFF;
}

.infoText {
  color: var(--Body, #757575);
  font-family: "Noto Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.39px;
}