@import '@/styles/scss/_container.scss';
@import '@/styles/useful/colors.scss';

.leftArticle {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.leftArticleTitle {
  display: flex;
  width: 159px;
  height: 100px;
  padding: 6px 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.leftTitle {
  height: 50px;
  flex-shrink: 0;
  align-self: stretch;
  color: var(--Body, #757575);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}

.leftTime {
  align-self: stretch;
  color: var(--Body, #757575);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 233.333% */
}