.mainbg {
  background-color: #f1edeb;
}
.creatForm {
  padding-top: 40px;
  padding-bottom: 80px;
}
.bread {
  margin-bottom: 70px;
}
.formArea {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 40px;
  gap: 20px;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.artiTitle {
  height: 34px;
}

.artiSort {
  height: 34px;
}

.tagInputs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tagInput{
  width: 130px;
}

.postBtn {
  display: inline-flex;
  height: 30px;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border: 0;
  border-radius: 5px;
  opacity: 0.5;
  background: var(--warning, #fbc02d);
  cursor: pointer;
}
