@import '@/styles';

.mainArea {
  display: flex;
}

.mb1 {
  margin-bottom: 100px;
}

.articleContent {
  display: flex;
  width: 725px;
  height: 100%;
  padding: 50px 40px;
  margin-top: 38px;
  margin-left: 56px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 5px;
  background: #fff;

  /* Shadow */
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
.contentCreater {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.userData {
  display: flex;
}

.userIcon {
  border-radius: 40px;
  background: lightgray 50% / cover no-repeat;
}

.nicknameArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15px;
}

.nickName {
  color: #000;
  font-family: 'Noto Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
}

.creatTime {
  color: var(--Subtitle-text-color, #808080);
  font-family: 'Noto Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

.articleTitle {
  align-self: stretch;
  color: var(--Header, #424242);
  font-family: 'Noto Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainContent {
  align-self: stretch;
  color: var(--Body, #757575);
  font-family: 'Noto Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.artiInfo {
  display: flex;
  padding-right: 18px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.artiTags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 5px;
  background: var(--Border, #eaeaea);
}
.tag p {
  color: var(--Subtitle-text-color, #808080);
  font-family: 'Noto Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}
