@import '@/styles';
.mainbg {
  background-color: #f1edeb;
}

.mainArea {
  display: flex;
}

.mb1 {
  margin-bottom: 100px;
}

.contentArea {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rwdAside{
  @media (max-width:768px) {
    display: none;
  }
}

@media (max-width:768px) {
  .mainArea{
    display: block;
  }
}