@import '@/styles';

.replyArea {
  margin-left: 58.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width:768px) {
    width: 100%;
    margin: 0;
  }
}

.replyTitle {
  margin-bottom: 20px;
}

.replyTitle h3 {
  color: var(--Header, #424242);
  text-align: center;
  font-family: 'Noto Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.9px;
}

.reply {
  display: flex;
  width: 720px;
  padding: 30px 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background: var(--white, #fff);

  /* Shadow */
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
  @media (max-width:768px) {
    width: 100%;
    margin: 0;
  }
}

.reply input {
  width: 100%;
  height: 45px;
}

.replyBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnCancel {
  display: flex;
  height: 30px;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  border: 0;
  background: var(--Border, #eaeaea);
  color: var(--Subtitle-text-color, #808080);
  font-family: 'Noto Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  cursor: pointer;
}

.btnSubmit {
  display: flex;
  height: 30px;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  border: 0;
  background: var(--info, #71c4ef);
  color: var(--white, #fff);
  font-family: 'Noto Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.24px;
  cursor: pointer;
}

