@import '@/styles';

.hero {
  height: 100vh;
  position: relative;
}

.desktopBg {
  display: block;
}

.mobileBg {
  display: none;
}

.hero_text {
  align-items: center;

  position: relative;
  z-index: 1;

  h1 {
    @include ff-maru(24px, 56px);
    color: $heading;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
  }

  p {
    @include ff-noto(14px, 18px);
    color: $shade2;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
  }
}

.btns {
  display: inline-flex;
  align-items: center;
  gap: 22px;
  margin-top: 38px;
}

.hero_image {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

@media (min-width: 800px) {
  .hero_text {
    text-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 60vh;
  }
  .desktopBg {
    display: none;
  }
  .hero_image {
    display: none;
  }

  .mobileBg {
    display: block;
    z-index: 1;
    position: absolute;
  }

  .hero_text {
    z-index: 2; 
    position: relative;
    margin-bottom: 160px;

    h1 {
      color: $heading;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 66px; /* 275% */
    }

    p {
      color: $shade2;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      width: 346px;
    }
  }
  .btns {
    display: none;
  }
}
