@use '@/styles' as styles;

.progressBox {
  margin: 10rem auto 5rem;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 80%;
  @include styles.rwd-above('md') {
    margin: 10rem auto 3rem;
    width: initial;
  }
}
.progressBox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  height: 2px;
  background-color: styles.$shade3;
}

.circle {
  @include styles.circle-of(3.5rem);
  @include styles.ff-maru(1.5rem);
  @extend .fx-center;
  font-weight: 900;
  position: relative;
}

.circle {
  &::after {
    position: absolute;
    display: block;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    color: styles.$shade3;
    @include styles.ff-noto(1rem);
    font-weight: 400;
    text-align: center;
    width: 8rem;
    // width: fit-content;
  }
  &:nth-child(1)::after {
    content: '購物車';
  }
  &:nth-child(2)::after {
    content: '填寫付款資訊';
  }
  &:nth-child(3)::after {
    content: '訂單確認';
  }
}
