@import '@/styles';

.PeopleInfoContainer {
  display: flex;
  flex-direction: row;
  input {
    border-radius: 2px;
    border: 1px solid var(--tint2, #cebfb8);
    background: #fff;
  }
  @media (max-width: 768px) {
    .midtext input {
      max-width: 65%;
    }
    .midtext {
      .area5 {
        gap: 80px;
      }
      .area6 {
        gap: 55px;
      }
      .area7 {
        gap: 72px;
      }
    }
    .midtext .area7 input {
      max-width: 83%;
    }
  }
  @media (max-width: 499px) {
    .midtext input {
      max-width: 50%;
    }
    .midtext .area7 input {
      max-width: 50%;
    }
  }
  .midarea {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }
  //----------
  .midtext {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 22px;
    padding-bottom: 141px;
    max-width: 560px;
  }
  .area1 {
    display: flex;
    align-items: center;
    gap: 48px;
    .avatarPic {
      display: flex;
      width: 115px;
      height: 115px;
      padding: 40px;
      align-items: center;
      gap: 10px;
      border-radius: 57.5px;
      background: #b9a399;
    }
  }
  .area2 {
    display: flex;
    align-items: center;
    gap: 70px;
    align-self: stretch;
    p {
      color: var(--Header, #424242);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: 'Noto Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
    span {
      color: var(--Header, #424242);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: 'Noto Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      text-decoration-line: underline;
    }
  }
  .area3 {
    display: flex;
    align-items: flex-end;
    gap: 78px;
    align-self: stretch;
    input {
      display: flex;
      padding: 5px 12px;
      align-items: center;
      flex: 1 0 0;
    }
  }
  .area4 {
    display: flex;
    align-items: flex-end;
    gap: 78px;
    .genderRadio {
      display: flex;
      flex-direction: row;
      width: 205px;
      height: 32px;
      align-items: center;
      gap: 34px;
      input[type='radio'] {
        display: none;
      }
    }
    //自訂radio
    .genderRadio input[type='radio'] + label {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding-left: 30px; /* 給自訂按鈕留出空間 */
      cursor: pointer;
      line-height: 20px;
      font-size: 16px;
      text-align: left;
    }

    /* 自訂單選按鈕的偽元素 */
    .genderRadio input[type='radio'] + label::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 14px;
      height: 14px;
      border: 2px solid #e5e6eb;
      border-radius: 50%;
      background: #fff;
      transform: translateY(-50%);
    }

    /* 選中狀態的樣式 */
    .genderRadio input[type='radio']:checked + label::before {
      background: #b9a399; /* 選中時的背景顏色 */
      border-color: #e5e6eb; /* 選中時的邊框顏色 */
    }

    /* 自訂單選按鈕的選中效果 */
    .genderRadio input[type='radio']:checked + label::after {
      content: '';
      position: absolute;
      left: 7px; /* 定位於左側 */
      top: 50%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #fff;
      transform: translateY(-50%);
    }
  }
  .area5 {
    display: flex;
    align-items: flex-end;
    gap: 78px;
    align-self: stretch;
  }
  .area6 {
    display: flex;
    align-items: flex-end;
    gap: 47px;
    align-self: stretch;
    input {
      display: flex;
      padding: 5px 12px;
      align-items: center;
      flex: 1 0 0;
    }
  }
  .area7 {
    display: flex;
    align-items: flex-start;
    gap: 47px;
    align-self: stretch;
    .address {
      display: flex;
      width: 449px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
    input {
      width: 100%;
      max-width: 450px;
      display: flex;
      padding: 5px 12px;
      align-items: center;
      flex: 1 0 0;
    }
  }
  .botarea {
    display: flex;
    justify-content: center;
    gap: 30px;
    .btn1 {
      border: 1px solid var(--Neutral-Colors-Headings-Black, #5d5a88);
      background: var(--Neutral-Colors-White, #fff);
    }
    .btn2 {
      color: #fff;
      background: var(--Primary, #b9a399);
      border: none;
    }
    button {
      display: flex;
      padding: 12px 60px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
  //-------- sideText
  .sideText {
    display: inline-flex;
    height: 274px;
    padding: 30px 20px;
    margin: 22px 206px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border: 1px solid #eaeaea;
    .icon {
      display: flex;
      width: 230px;
      padding-bottom: 0px;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      border-bottom: 1px solid #eaeaea;
    }
  }
}

//---------------------ForumMemberInfo
.ForumMemberInfo {
  display: flex;
  flex-direction: row;
  @media (max-width: 499px) {
    .midtext .area2 input {
      max-width: 60%;
    }
    .midtext .area7 textarea {
      max-width: 60%;
    }
    .midtext {
      .area5 {
        gap: 55px;
      }
      .area6 {
        gap: 55px;
      }
      .area7 {
        gap: 55px;
      }
    }
  }
  @media (max-width: 768px) {
    .midtext .area2 input {
      max-width: 60%;
    }
    .midtext .area7 textarea {
      max-width: 60%;
    }
  }
  .midarea {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }
  //----------
  .midtext {
    display: flex;
    width: 100%;
    max-width: 560px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    padding-bottom: 141px;
  }
  .area1 {
    display: flex;
    align-items: center;
    gap: 48px;
    .avatarPic {
      display: flex;
      position: relative;
      width: 180px;
      height: 180px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 50%;
      background: #b9a399;
      overflow: hidden;
    }

    .avatarWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .area2 {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    align-self: stretch;
    input {
      display: flex;
      padding: 5px 12px;
      align-items: center;
      flex: 1 0 0;
      border-radius: 2px;
      border: 1px solid var(--tint2, #cebfb8);
      background: #fff;
    }
  }
  .area3 {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    .genderRadio {
      display: flex;
      width: 205px;
      height: 32px;
      padding: 5px 71px 5px 0px;
      align-items: flex-start;
      gap: 34px;
      input[type='radio'] {
        display: none;
      }
    }
    //自訂radio
    .genderRadio input[type='radio'] + label {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding-left: 30px; /* 給自訂按鈕留出空間 */
      cursor: pointer;
      line-height: 20px;
      font-size: 16px;
      text-align: left;
    }

    /* 自訂單選按鈕的偽元素 */
    .genderRadio input[type='radio'] + label::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 14px;
      height: 14px;
      border: 2px solid #e5e6eb;
      border-radius: 50%;
      background: #fff;
      transform: translateY(-50%);
    }

    /* 選中狀態的樣式 */
    .genderRadio input[type='radio']:checked + label::before {
      background: #b9a399; /* 選中時的背景顏色 */
      border-color: #e5e6eb; /* 選中時的邊框顏色 */
    }

    /* 自訂單選按鈕的選中效果 */
    .genderRadio input[type='radio']:checked + label::after {
      content: '';
      position: absolute;
      left: 7px; /* 定位於左側 */
      top: 50%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #fff;
      transform: translateY(-50%);
    }
  }
  .area4 {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    align-self: stretch;
  }
  .area5 {
    display: flex;
    align-items: flex-end;
    gap: 47px;
    align-self: stretch;
    select {
      width: 140px;
    }
  }
  .area6 {
    display: flex;
    align-items: flex-end;
    gap: 47px;
    align-self: stretch;
    p {
      color: #000;
      font-family: 'Noto Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .area7 {
    display: flex;
    align-items: flex-start;
    gap: 47px;
    align-self: stretch;
    textarea {
      display: flex;
      width: 449px;
      padding: 4px 12px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 2px;
      border: 1px solid var(--tint2, #cebfb8);
      background: #fff;
    }
  }
  .botarea {
    display: flex;
    width: fill;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .btn1 {
      border: 1px solid var(--Neutral-Colors-Headings-Black, #5d5a88);
      background: var(--Neutral-Colors-White, #fff);
    }
    .btn2 {
      color: #fff;
      background: var(--Primary, #b9a399);
      border: none;
    }
    button {
      display: flex;
      padding: 12px 60px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
    }
  }
  //-------- sideText
  .sideText {
    display: inline-flex;
    height: 274px;
    padding: 30px 20px;
    margin: 22px 206px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border: 1px solid #eaeaea;
    .icon {
      display: flex;
      width: 230px;
      padding-bottom: 0px;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      border-bottom: 1px solid #eaeaea;
    }
  }
}

//--------------------ChangePassword

.ChangePasswordContainer {
  display: flex;
  flex-direction: row;
  height: 800px;
  background: var(--tint5, #f1edeb);
  .midarea {
    width: 1137px;
  }
  .maintext {
    width: 100%;
    height: 432px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    margin-top: 85px;
    background: #fff;
    .toptext {
      display: flex;
      flex-direction: row;
      .toptexta1 {
        display: flex;
        flex-direction: column;
        gap: 26px;
        color: #000;
        white-space: nowrap;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
      .toptexta2 {
        display: flex;
        flex-direction: column;
        gap: 26px;
        .icon_password {
          display: flex;
          align-items: center;
        }
        .imgWrap {
          margin-left: 30px;
          cursor: pointer;
        }
        input {
          max-width: 300px;
          width: 85%;
          height: 32px;
          display: flex;
          align-items: center;
          flex: 1 0 0;
          border-radius: 2px;
          border: 1px solid var(--tint2, #cebfb8);
          background: #fff;
        }
      }
    }
    .botBTN {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn2 {
        color: #fff;
        background: var(--Primary, #b9a399);
      }
      button {
        display: flex;
        width: 301px;
        height: 46px;
        padding: 18px 24px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border: none;
        // position: relative;
        // right: -130px;
        // bottom: -30px;
      }
    }
  }
}

//------------------------ PeopleInfoData
.PeopleInfoDataContainer {
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    .midtext {
      gap: 0;
    }
    .midtext input {
      max-width: 65%;
    }
    .midtext {
      .area5 {
        gap: 80px;
      }
      .area6 {
        gap: 54px;
      }
      .area7 {
        white-space: nowrap;
        gap: 54px;
      }
    }
    .midtext .area7 input {
      max-width: 83%;
    }
  }
  @media (max-width: 499px) {
    .botarea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .btn1 {
        border: 3px solid var(--Neutral-Colors-Headings-Black, #5d5a88);
        background: var(--Neutral-Colors-White, #fff);
        padding: 8px 20px;
        font-size: 14px;
      }

      .btn2 {
        background-color: hsl(0, 0%, 100%);
        color: #e53835;
        border: 3px solid #e53835;
        padding: 8px 20px; /* 調整按鈕的內邊距 */
        font-size: 14px; /* 調整按鈕的字體大小 */
      }

      button {
        display: flex;
        padding: 6px 20px; /* 調整按鈕的內邊距 */
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        position: relative;
        font-size: 14px; /* 調整按鈕的字體大小 */
      }
    }
  }

  .midarea {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }
  //----------
  .midtext {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    padding-bottom: 141px;
  }
  .area1 {
    display: flex;
    align-items: center;
    gap: 48px;
    .avatarPic {
      display: flex;
      width: 115px;
      height: 115px;
      padding: 40px;
      align-items: center;
      gap: 10px;
      border-radius: 57.5px;
      background: #b9a399;
    }
  }
  .area2 {
    display: flex;
    align-items: center;
    gap: 70px;
    align-self: stretch;
    p {
      color: var(--Header, #424242);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: 'Noto Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
    span {
      color: var(--Header, #424242);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: 'Noto Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
  .area3 {
    display: flex;
    align-items: flex-end;
    gap: 78px;
    align-self: stretch;
    input {
      display: flex;
      padding: 5px 12px;
      align-items: center;
      flex: 1 0 0;
    }
  }
  .area4 {
    display: flex;
    align-items: flex-end;
    gap: 78px;
    .genderRadio {
      display: flex;
      width: 205px;
      height: 32px;
      padding: 5px 71px 5px 0px;
      align-items: flex-start;
      gap: 34px;
    }
    input[type='radio'] {
      display: none;
    }
  }
  .area5 {
    display: flex;
    align-items: flex-end;
    gap: 78px;
    align-self: stretch;
  }
  .area6 {
    display: flex;
    align-items: flex-end;
    gap: 47px;
    align-self: stretch;
    input {
      display: flex;
      padding: 5px 12px;
      align-items: center;
      flex: 1 0 0;
    }
  }
  .area7 {
    display: flex;
    align-items: flex-start;
    gap: 47px;
    align-self: stretch;
    .address {
      display: flex;
      width: 449px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  .botarea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .btn1 {
      border: 1px solid var(--Neutral-Colors-Headings-Black, #5d5a88);
      background: var(--Neutral-Colors-White, #fff);
    }
    .btn2 {
      background-color: hsl(0, 0%, 100%);
      color: #e53835;
      border: 3px solid #e53835;
    }
    button {
      display: flex;
      padding: 12px 60px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
    }
  }
  //-------- sideText
  .sideText {
    display: inline-flex;
    height: 274px;
    padding: 30px 20px;
    margin: 22px 206px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border: 1px solid #eaeaea;
    .icon {
      display: flex;
      width: 230px;
      padding-bottom: 0px;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      border-bottom: 1px solid #eaeaea;
    }
  }
}
