@import '@/styles';

//-------------------- Register
.Registermain {
  display: flex;
  justify-content: center;
}
.RegisterContainer {
  width: 1440px;
  height: 100vh;
  display: flex;
}

.RegisterContainer .lfpic {
  background-color: #eae3e0;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}

.RegisterContainer .rightText {
  display: flex;
  width: 734px;
  padding: 96px 137px 151px 124px;
  flex-direction: column;
  align-items: center;
  position: relative;
  .area1 {
    padding-bottom: 32px;
  }
  .area2 {
    padding-bottom: 32px;
    .passwordarea{
      display: flex;
      justify-content: space-between;
    }
  }
  .area3 {
    padding-bottom: 32px;
  }
  .area3 p {
    color: var(--shade4, #37312e);
    font-family: 'Noto Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .a3Span {
    color: var(--shade4, #37312e);
    font-family: 'Noto Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  .loginSpan {
    color: #111;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  label {
    color: #666;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  input {
    display: flex;
    width: 473px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding-bottom: 20px;
    margin-bottom: 24px;
  }
  .h5 {
    color: #333;
    font-family: 'Noto Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  p {
    color: #666666;
    //@include ff-noto(18px);
  }
  .createBtn {
    display: flex;
    padding: 24px 70px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 47.273px;
    background: var(--Primary, #b9a399);
    color: white;
  }
  .xBtn {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 29px;
    background: var(--Grey-Medium, #e5e5e5);
    position: absolute;
    top: 20px;
    right: 50px;
  }
}

// -------------------------- Login
.Loginmain {
  display: flex;
  justify-content: center;
}
.LoginContainer {
  width: 1440px;
  height: 100vh;
  display: flex;
}

.LoginContainer .lfpic {
  background-color: #eae3e0;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}

.LoginContainer .rightText {
  display: flex;
  width: 734px;
  padding: 96px 137px 151px 124px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  .area1 {
    padding-bottom: 32px;
  }
  .area2 {
    padding-bottom: 32px;
    .passwordarea{
      display: flex;
      justify-content: space-between;
    }
  }
  .area3 {
    padding-bottom: 32px;
  }
  .area3 p {
    color: var(--shade4, #37312e);
    font-family: 'Noto Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  label {
    color: #666;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  input {
    display: flex;
    width: 473px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding-bottom: 20px;
    margin-bottom: 24px;
  }
  .h5 {
    color: #333;
    font-family: 'Noto Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  p {
    color: #666666;
    //@include ff-noto(18px);
  }
  .createBtn {
    display: flex;
    padding: 24px 70px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 47.273px;
    background: var(--Primary, #b9a399);
    color: white;
    border: #ccc;
  }
  .xBtn {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 29px;
    background: var(--Grey-Medium, #e5e5e5);
    position: absolute;
    top: 20px;
    right: 50px;
  }
}
