@import '@/styles';

.mainArea {
  display: flex;
}

.pageCtrl {
  display: inline-flex;
  width: 240px;
  height: 140px;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  border: 1px solid var(--Border, #EAEAEA);
  background: var(--white, #FFF);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 1450px;
  top: 290px;
}

.ctrler {
  width: 100%;
  // padding-bottom: 10px;
  border-bottom: 1px solid #EAEAEA;
  cursor: pointer;
}

.ctrlText {
  color: #000;
  font-family: "Noto Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
}