@charset "UTF-8";
.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

.col {
  flex: 1 0 0%;
}

.rowColsAuto > * {
  flex: 0 0 auto;
  width: auto;
}

.rowCols3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.rowCols4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.rowCols5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.rowCols6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.colAuto {
  flex: 0 0 auto;
  width: auto;
}

.col1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col3 {
  flex: 0 0 auto;
  width: 25%;
}

.col4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col6 {
  flex: 0 0 auto;
  width: 50%;
}

.col7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col9 {
  flex: 0 0 auto;
  width: 75%;
}

.col10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset1 {
  margin-left: 8.33333333%;
}

.offset2 {
  margin-left: 16.66666667%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333333%;
}

.offset5 {
  margin-left: 41.66666667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.33333333%;
}

.offset8 {
  margin-left: 66.66666667%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333333%;
}

.offset11 {
  margin-left: 91.66666667%;
}

.g0,
.gx0 {
  --gutter-x: 0;
}

.g0,
.gy0 {
  --gutter-y: 0;
}

.g1,
.gx1 {
  --gutter-x: 0.25rem;
}

.g1,
.gy1 {
  --gutter-y: 0.25rem;
}

.g2,
.gx2 {
  --gutter-x: 0.5rem;
}

.g2,
.gy2 {
  --gutter-y: 0.5rem;
}

.g3,
.gx3 {
  --gutter-x: 1rem;
}

.g3,
.gy3 {
  --gutter-y: 1rem;
}

.g4,
.gx4 {
  --gutter-x: 1.5rem;
}

.g4,
.gy4 {
  --gutter-y: 1.5rem;
}

.g5,
.gx5 {
  --gutter-x: 3rem;
}

.g5,
.gy5 {
  --gutter-y: 3rem;
}

@media (min-width: 576px) {
  .col_sm {
    flex: 1 0 0%;
  }
  .rowCols_smAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_sm3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_sm4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_sm5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_sm6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_smAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_sm1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_sm2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_sm3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_sm4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_sm5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_sm6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_sm7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_sm8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_sm9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_sm10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_sm11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_sm12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_sm0 {
    margin-left: 0;
  }
  .offset_sm1 {
    margin-left: 8.33333333%;
  }
  .offset_sm2 {
    margin-left: 16.66666667%;
  }
  .offset_sm3 {
    margin-left: 25%;
  }
  .offset_sm4 {
    margin-left: 33.33333333%;
  }
  .offset_sm5 {
    margin-left: 41.66666667%;
  }
  .offset_sm6 {
    margin-left: 50%;
  }
  .offset_sm7 {
    margin-left: 58.33333333%;
  }
  .offset_sm8 {
    margin-left: 66.66666667%;
  }
  .offset_sm9 {
    margin-left: 75%;
  }
  .offset_sm10 {
    margin-left: 83.33333333%;
  }
  .offset_sm11 {
    margin-left: 91.66666667%;
  }
  .g_sm0,
  .gx_sm0 {
    --gutter-x: 0;
  }
  .g_sm0,
  .gy_sm0 {
    --gutter-y: 0;
  }
  .g_sm1,
  .gx_sm1 {
    --gutter-x: 0.25rem;
  }
  .g_sm1,
  .gy_sm1 {
    --gutter-y: 0.25rem;
  }
  .g_sm2,
  .gx_sm2 {
    --gutter-x: 0.5rem;
  }
  .g_sm2,
  .gy_sm2 {
    --gutter-y: 0.5rem;
  }
  .g_sm3,
  .gx_sm3 {
    --gutter-x: 1rem;
  }
  .g_sm3,
  .gy_sm3 {
    --gutter-y: 1rem;
  }
  .g_sm4,
  .gx_sm4 {
    --gutter-x: 1.5rem;
  }
  .g_sm4,
  .gy_sm4 {
    --gutter-y: 1.5rem;
  }
  .g_sm5,
  .gx_sm5 {
    --gutter-x: 3rem;
  }
  .g_sm5,
  .gy_sm5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col_md {
    flex: 1 0 0%;
  }
  .rowCols_mdAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_md3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_md4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_md5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_md6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_mdAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_md1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_md2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_md3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_md4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_md5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_md6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_md7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_md8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_md9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_md10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_md11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_md12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_md0 {
    margin-left: 0;
  }
  .offset_md1 {
    margin-left: 8.33333333%;
  }
  .offset_md2 {
    margin-left: 16.66666667%;
  }
  .offset_md3 {
    margin-left: 25%;
  }
  .offset_md4 {
    margin-left: 33.33333333%;
  }
  .offset_md5 {
    margin-left: 41.66666667%;
  }
  .offset_md6 {
    margin-left: 50%;
  }
  .offset_md7 {
    margin-left: 58.33333333%;
  }
  .offset_md8 {
    margin-left: 66.66666667%;
  }
  .offset_md9 {
    margin-left: 75%;
  }
  .offset_md10 {
    margin-left: 83.33333333%;
  }
  .offset_md11 {
    margin-left: 91.66666667%;
  }
  .g_md0,
  .gx_md0 {
    --gutter-x: 0;
  }
  .g_md0,
  .gy_md0 {
    --gutter-y: 0;
  }
  .g_md1,
  .gx_md1 {
    --gutter-x: 0.25rem;
  }
  .g_md1,
  .gy_md1 {
    --gutter-y: 0.25rem;
  }
  .g_md2,
  .gx_md2 {
    --gutter-x: 0.5rem;
  }
  .g_md2,
  .gy_md2 {
    --gutter-y: 0.5rem;
  }
  .g_md3,
  .gx_md3 {
    --gutter-x: 1rem;
  }
  .g_md3,
  .gy_md3 {
    --gutter-y: 1rem;
  }
  .g_md4,
  .gx_md4 {
    --gutter-x: 1.5rem;
  }
  .g_md4,
  .gy_md4 {
    --gutter-y: 1.5rem;
  }
  .g_md5,
  .gx_md5 {
    --gutter-x: 3rem;
  }
  .g_md5,
  .gy_md5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col_lg {
    flex: 1 0 0%;
  }
  .rowCols_lgAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_lg3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_lg4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_lg5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_lg6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_lgAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_lg1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_lg2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_lg3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_lg4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_lg5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_lg6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_lg7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_lg8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_lg9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_lg10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_lg11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_lg12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_lg0 {
    margin-left: 0;
  }
  .offset_lg1 {
    margin-left: 8.33333333%;
  }
  .offset_lg2 {
    margin-left: 16.66666667%;
  }
  .offset_lg3 {
    margin-left: 25%;
  }
  .offset_lg4 {
    margin-left: 33.33333333%;
  }
  .offset_lg5 {
    margin-left: 41.66666667%;
  }
  .offset_lg6 {
    margin-left: 50%;
  }
  .offset_lg7 {
    margin-left: 58.33333333%;
  }
  .offset_lg8 {
    margin-left: 66.66666667%;
  }
  .offset_lg9 {
    margin-left: 75%;
  }
  .offset_lg10 {
    margin-left: 83.33333333%;
  }
  .offset_lg11 {
    margin-left: 91.66666667%;
  }
  .g_lg0,
  .gx_lg0 {
    --gutter-x: 0;
  }
  .g_lg0,
  .gy_lg0 {
    --gutter-y: 0;
  }
  .g_lg1,
  .gx_lg1 {
    --gutter-x: 0.25rem;
  }
  .g_lg1,
  .gy_lg1 {
    --gutter-y: 0.25rem;
  }
  .g_lg2,
  .gx_lg2 {
    --gutter-x: 0.5rem;
  }
  .g_lg2,
  .gy_lg2 {
    --gutter-y: 0.5rem;
  }
  .g_lg3,
  .gx_lg3 {
    --gutter-x: 1rem;
  }
  .g_lg3,
  .gy_lg3 {
    --gutter-y: 1rem;
  }
  .g_lg4,
  .gx_lg4 {
    --gutter-x: 1.5rem;
  }
  .g_lg4,
  .gy_lg4 {
    --gutter-y: 1.5rem;
  }
  .g_lg5,
  .gx_lg5 {
    --gutter-x: 3rem;
  }
  .g_lg5,
  .gy_lg5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col_xl {
    flex: 1 0 0%;
  }
  .rowCols_xlAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_xl3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_xl4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_xl5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_xl6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xlAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_xl1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_xl2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xl3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_xl4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_xl5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_xl6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_xl7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_xl8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_xl9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_xl10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_xl11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_xl12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_xl0 {
    margin-left: 0;
  }
  .offset_xl1 {
    margin-left: 8.33333333%;
  }
  .offset_xl2 {
    margin-left: 16.66666667%;
  }
  .offset_xl3 {
    margin-left: 25%;
  }
  .offset_xl4 {
    margin-left: 33.33333333%;
  }
  .offset_xl5 {
    margin-left: 41.66666667%;
  }
  .offset_xl6 {
    margin-left: 50%;
  }
  .offset_xl7 {
    margin-left: 58.33333333%;
  }
  .offset_xl8 {
    margin-left: 66.66666667%;
  }
  .offset_xl9 {
    margin-left: 75%;
  }
  .offset_xl10 {
    margin-left: 83.33333333%;
  }
  .offset_xl11 {
    margin-left: 91.66666667%;
  }
  .g_xl0,
  .gx_xl0 {
    --gutter-x: 0;
  }
  .g_xl0,
  .gy_xl0 {
    --gutter-y: 0;
  }
  .g_xl1,
  .gx_xl1 {
    --gutter-x: 0.25rem;
  }
  .g_xl1,
  .gy_xl1 {
    --gutter-y: 0.25rem;
  }
  .g_xl2,
  .gx_xl2 {
    --gutter-x: 0.5rem;
  }
  .g_xl2,
  .gy_xl2 {
    --gutter-y: 0.5rem;
  }
  .g_xl3,
  .gx_xl3 {
    --gutter-x: 1rem;
  }
  .g_xl3,
  .gy_xl3 {
    --gutter-y: 1rem;
  }
  .g_xl4,
  .gx_xl4 {
    --gutter-x: 1.5rem;
  }
  .g_xl4,
  .gy_xl4 {
    --gutter-y: 1.5rem;
  }
  .g_xl5,
  .gx_xl5 {
    --gutter-x: 3rem;
  }
  .g_xl5,
  .gy_xl5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col_xxl {
    flex: 1 0 0%;
  }
  .rowCols_xxlAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_xxl3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_xxl4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_xxl5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_xxl6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xxlAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_xxl1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_xxl2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xxl3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_xxl4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_xxl5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_xxl6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_xxl7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_xxl8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_xxl9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_xxl10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_xxl11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_xxl12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_xxl0 {
    margin-left: 0;
  }
  .offset_xxl1 {
    margin-left: 8.33333333%;
  }
  .offset_xxl2 {
    margin-left: 16.66666667%;
  }
  .offset_xxl3 {
    margin-left: 25%;
  }
  .offset_xxl4 {
    margin-left: 33.33333333%;
  }
  .offset_xxl5 {
    margin-left: 41.66666667%;
  }
  .offset_xxl6 {
    margin-left: 50%;
  }
  .offset_xxl7 {
    margin-left: 58.33333333%;
  }
  .offset_xxl8 {
    margin-left: 66.66666667%;
  }
  .offset_xxl9 {
    margin-left: 75%;
  }
  .offset_xxl10 {
    margin-left: 83.33333333%;
  }
  .offset_xxl11 {
    margin-left: 91.66666667%;
  }
  .g_xxl0,
  .gx_xxl0 {
    --gutter-x: 0;
  }
  .g_xxl0,
  .gy_xxl0 {
    --gutter-y: 0;
  }
  .g_xxl1,
  .gx_xxl1 {
    --gutter-x: 0.25rem;
  }
  .g_xxl1,
  .gy_xxl1 {
    --gutter-y: 0.25rem;
  }
  .g_xxl2,
  .gx_xxl2 {
    --gutter-x: 0.5rem;
  }
  .g_xxl2,
  .gy_xxl2 {
    --gutter-y: 0.5rem;
  }
  .g_xxl3,
  .gx_xxl3 {
    --gutter-x: 1rem;
  }
  .g_xxl3,
  .gy_xxl3 {
    --gutter-y: 1rem;
  }
  .g_xxl4,
  .gx_xxl4 {
    --gutter-x: 1.5rem;
  }
  .g_xxl4,
  .gy_xxl4 {
    --gutter-y: 1.5rem;
  }
  .g_xxl5,
  .gx_xxl5 {
    --gutter-x: 3rem;
  }
  .g_xxl5,
  .gy_xxl5 {
    --gutter-y: 3rem;
  }
}
/* text color 灰階 */
/* text color 帶色 */
/* color shade */
/* color shade */
.txPrimary {
  color: #B9A399;
}

.bgPrimary {
  background-color: #B9A399;
}

.txSecondary {
  color: #E7E1DB;
}

.bgSecondary {
  background-color: #E7E1DB;
}

.txInfo {
  color: #71c4ef;
}

.bgInfo {
  background-color: #71c4ef;
}

.txWarning {
  color: #FBC02D;
}

.bgWarning {
  background-color: #FBC02D;
}

.txError {
  color: #E53835;
}

.bgError {
  background-color: #E53835;
}

.txLight {
  color: #F1EDEB;
}

.bgLight {
  background-color: #F1EDEB;
}

.txDark {
  color: #2a2522;
}

.bgDark {
  background-color: #2a2522;
}

/* text color 灰階 */
/* text color 帶色 */
/* color shade */
/* color shade */
.txPrimary {
  color: #B9A399;
}

.bgPrimary {
  background-color: #B9A399;
}

.txSecondary {
  color: #E7E1DB;
}

.bgSecondary {
  background-color: #E7E1DB;
}

.txInfo {
  color: #71c4ef;
}

.bgInfo {
  background-color: #71c4ef;
}

.txWarning {
  color: #FBC02D;
}

.bgWarning {
  background-color: #FBC02D;
}

.txError {
  color: #E53835;
}

.bgError {
  background-color: #E53835;
}

.txLight {
  color: #F1EDEB;
}

.bgLight {
  background-color: #F1EDEB;
}

.txDark {
  color: #2a2522;
}

.bgDark {
  background-color: #2a2522;
}

.imgWrap {
  overflow: hidden;
}
.imgWrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vstack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dFlex {
  display: flex;
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

.col {
  flex: 1 0 0%;
}

.rowColsAuto > * {
  flex: 0 0 auto;
  width: auto;
}

.rowCols3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.rowCols4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.rowCols5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.rowCols6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.colAuto {
  flex: 0 0 auto;
  width: auto;
}

.col1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col3 {
  flex: 0 0 auto;
  width: 25%;
}

.col4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col6 {
  flex: 0 0 auto;
  width: 50%;
}

.col7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col9 {
  flex: 0 0 auto;
  width: 75%;
}

.col10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset1 {
  margin-left: 8.33333333%;
}

.offset2 {
  margin-left: 16.66666667%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333333%;
}

.offset5 {
  margin-left: 41.66666667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.33333333%;
}

.offset8 {
  margin-left: 66.66666667%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333333%;
}

.offset11 {
  margin-left: 91.66666667%;
}

.g0,
.gx0 {
  --gutter-x: 0;
}

.g0,
.gy0 {
  --gutter-y: 0;
}

.g1,
.gx1 {
  --gutter-x: 0.25rem;
}

.g1,
.gy1 {
  --gutter-y: 0.25rem;
}

.g2,
.gx2 {
  --gutter-x: 0.5rem;
}

.g2,
.gy2 {
  --gutter-y: 0.5rem;
}

.g3,
.gx3 {
  --gutter-x: 1rem;
}

.g3,
.gy3 {
  --gutter-y: 1rem;
}

.g4,
.gx4 {
  --gutter-x: 1.5rem;
}

.g4,
.gy4 {
  --gutter-y: 1.5rem;
}

.g5,
.gx5 {
  --gutter-x: 3rem;
}

.g5,
.gy5 {
  --gutter-y: 3rem;
}

@media (min-width: 576px) {
  .col_sm {
    flex: 1 0 0%;
  }
  .rowCols_smAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_sm3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_sm4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_sm5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_sm6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_smAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_sm1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_sm2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_sm3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_sm4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_sm5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_sm6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_sm7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_sm8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_sm9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_sm10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_sm11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_sm12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_sm0 {
    margin-left: 0;
  }
  .offset_sm1 {
    margin-left: 8.33333333%;
  }
  .offset_sm2 {
    margin-left: 16.66666667%;
  }
  .offset_sm3 {
    margin-left: 25%;
  }
  .offset_sm4 {
    margin-left: 33.33333333%;
  }
  .offset_sm5 {
    margin-left: 41.66666667%;
  }
  .offset_sm6 {
    margin-left: 50%;
  }
  .offset_sm7 {
    margin-left: 58.33333333%;
  }
  .offset_sm8 {
    margin-left: 66.66666667%;
  }
  .offset_sm9 {
    margin-left: 75%;
  }
  .offset_sm10 {
    margin-left: 83.33333333%;
  }
  .offset_sm11 {
    margin-left: 91.66666667%;
  }
  .g_sm0,
  .gx_sm0 {
    --gutter-x: 0;
  }
  .g_sm0,
  .gy_sm0 {
    --gutter-y: 0;
  }
  .g_sm1,
  .gx_sm1 {
    --gutter-x: 0.25rem;
  }
  .g_sm1,
  .gy_sm1 {
    --gutter-y: 0.25rem;
  }
  .g_sm2,
  .gx_sm2 {
    --gutter-x: 0.5rem;
  }
  .g_sm2,
  .gy_sm2 {
    --gutter-y: 0.5rem;
  }
  .g_sm3,
  .gx_sm3 {
    --gutter-x: 1rem;
  }
  .g_sm3,
  .gy_sm3 {
    --gutter-y: 1rem;
  }
  .g_sm4,
  .gx_sm4 {
    --gutter-x: 1.5rem;
  }
  .g_sm4,
  .gy_sm4 {
    --gutter-y: 1.5rem;
  }
  .g_sm5,
  .gx_sm5 {
    --gutter-x: 3rem;
  }
  .g_sm5,
  .gy_sm5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col_md {
    flex: 1 0 0%;
  }
  .rowCols_mdAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_md3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_md4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_md5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_md6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_mdAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_md1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_md2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_md3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_md4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_md5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_md6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_md7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_md8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_md9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_md10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_md11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_md12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_md0 {
    margin-left: 0;
  }
  .offset_md1 {
    margin-left: 8.33333333%;
  }
  .offset_md2 {
    margin-left: 16.66666667%;
  }
  .offset_md3 {
    margin-left: 25%;
  }
  .offset_md4 {
    margin-left: 33.33333333%;
  }
  .offset_md5 {
    margin-left: 41.66666667%;
  }
  .offset_md6 {
    margin-left: 50%;
  }
  .offset_md7 {
    margin-left: 58.33333333%;
  }
  .offset_md8 {
    margin-left: 66.66666667%;
  }
  .offset_md9 {
    margin-left: 75%;
  }
  .offset_md10 {
    margin-left: 83.33333333%;
  }
  .offset_md11 {
    margin-left: 91.66666667%;
  }
  .g_md0,
  .gx_md0 {
    --gutter-x: 0;
  }
  .g_md0,
  .gy_md0 {
    --gutter-y: 0;
  }
  .g_md1,
  .gx_md1 {
    --gutter-x: 0.25rem;
  }
  .g_md1,
  .gy_md1 {
    --gutter-y: 0.25rem;
  }
  .g_md2,
  .gx_md2 {
    --gutter-x: 0.5rem;
  }
  .g_md2,
  .gy_md2 {
    --gutter-y: 0.5rem;
  }
  .g_md3,
  .gx_md3 {
    --gutter-x: 1rem;
  }
  .g_md3,
  .gy_md3 {
    --gutter-y: 1rem;
  }
  .g_md4,
  .gx_md4 {
    --gutter-x: 1.5rem;
  }
  .g_md4,
  .gy_md4 {
    --gutter-y: 1.5rem;
  }
  .g_md5,
  .gx_md5 {
    --gutter-x: 3rem;
  }
  .g_md5,
  .gy_md5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col_lg {
    flex: 1 0 0%;
  }
  .rowCols_lgAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_lg3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_lg4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_lg5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_lg6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_lgAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_lg1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_lg2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_lg3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_lg4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_lg5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_lg6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_lg7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_lg8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_lg9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_lg10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_lg11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_lg12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_lg0 {
    margin-left: 0;
  }
  .offset_lg1 {
    margin-left: 8.33333333%;
  }
  .offset_lg2 {
    margin-left: 16.66666667%;
  }
  .offset_lg3 {
    margin-left: 25%;
  }
  .offset_lg4 {
    margin-left: 33.33333333%;
  }
  .offset_lg5 {
    margin-left: 41.66666667%;
  }
  .offset_lg6 {
    margin-left: 50%;
  }
  .offset_lg7 {
    margin-left: 58.33333333%;
  }
  .offset_lg8 {
    margin-left: 66.66666667%;
  }
  .offset_lg9 {
    margin-left: 75%;
  }
  .offset_lg10 {
    margin-left: 83.33333333%;
  }
  .offset_lg11 {
    margin-left: 91.66666667%;
  }
  .g_lg0,
  .gx_lg0 {
    --gutter-x: 0;
  }
  .g_lg0,
  .gy_lg0 {
    --gutter-y: 0;
  }
  .g_lg1,
  .gx_lg1 {
    --gutter-x: 0.25rem;
  }
  .g_lg1,
  .gy_lg1 {
    --gutter-y: 0.25rem;
  }
  .g_lg2,
  .gx_lg2 {
    --gutter-x: 0.5rem;
  }
  .g_lg2,
  .gy_lg2 {
    --gutter-y: 0.5rem;
  }
  .g_lg3,
  .gx_lg3 {
    --gutter-x: 1rem;
  }
  .g_lg3,
  .gy_lg3 {
    --gutter-y: 1rem;
  }
  .g_lg4,
  .gx_lg4 {
    --gutter-x: 1.5rem;
  }
  .g_lg4,
  .gy_lg4 {
    --gutter-y: 1.5rem;
  }
  .g_lg5,
  .gx_lg5 {
    --gutter-x: 3rem;
  }
  .g_lg5,
  .gy_lg5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col_xl {
    flex: 1 0 0%;
  }
  .rowCols_xlAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_xl3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_xl4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_xl5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_xl6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xlAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_xl1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_xl2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xl3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_xl4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_xl5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_xl6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_xl7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_xl8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_xl9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_xl10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_xl11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_xl12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_xl0 {
    margin-left: 0;
  }
  .offset_xl1 {
    margin-left: 8.33333333%;
  }
  .offset_xl2 {
    margin-left: 16.66666667%;
  }
  .offset_xl3 {
    margin-left: 25%;
  }
  .offset_xl4 {
    margin-left: 33.33333333%;
  }
  .offset_xl5 {
    margin-left: 41.66666667%;
  }
  .offset_xl6 {
    margin-left: 50%;
  }
  .offset_xl7 {
    margin-left: 58.33333333%;
  }
  .offset_xl8 {
    margin-left: 66.66666667%;
  }
  .offset_xl9 {
    margin-left: 75%;
  }
  .offset_xl10 {
    margin-left: 83.33333333%;
  }
  .offset_xl11 {
    margin-left: 91.66666667%;
  }
  .g_xl0,
  .gx_xl0 {
    --gutter-x: 0;
  }
  .g_xl0,
  .gy_xl0 {
    --gutter-y: 0;
  }
  .g_xl1,
  .gx_xl1 {
    --gutter-x: 0.25rem;
  }
  .g_xl1,
  .gy_xl1 {
    --gutter-y: 0.25rem;
  }
  .g_xl2,
  .gx_xl2 {
    --gutter-x: 0.5rem;
  }
  .g_xl2,
  .gy_xl2 {
    --gutter-y: 0.5rem;
  }
  .g_xl3,
  .gx_xl3 {
    --gutter-x: 1rem;
  }
  .g_xl3,
  .gy_xl3 {
    --gutter-y: 1rem;
  }
  .g_xl4,
  .gx_xl4 {
    --gutter-x: 1.5rem;
  }
  .g_xl4,
  .gy_xl4 {
    --gutter-y: 1.5rem;
  }
  .g_xl5,
  .gx_xl5 {
    --gutter-x: 3rem;
  }
  .g_xl5,
  .gy_xl5 {
    --gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col_xxl {
    flex: 1 0 0%;
  }
  .rowCols_xxlAuto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .rowCols_xxl3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .rowCols_xxl4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .rowCols_xxl5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .rowCols_xxl6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xxlAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .col_xxl1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col_xxl2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col_xxl3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col_xxl4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col_xxl5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col_xxl6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col_xxl7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col_xxl8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col_xxl9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col_xxl10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col_xxl11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col_xxl12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset_xxl0 {
    margin-left: 0;
  }
  .offset_xxl1 {
    margin-left: 8.33333333%;
  }
  .offset_xxl2 {
    margin-left: 16.66666667%;
  }
  .offset_xxl3 {
    margin-left: 25%;
  }
  .offset_xxl4 {
    margin-left: 33.33333333%;
  }
  .offset_xxl5 {
    margin-left: 41.66666667%;
  }
  .offset_xxl6 {
    margin-left: 50%;
  }
  .offset_xxl7 {
    margin-left: 58.33333333%;
  }
  .offset_xxl8 {
    margin-left: 66.66666667%;
  }
  .offset_xxl9 {
    margin-left: 75%;
  }
  .offset_xxl10 {
    margin-left: 83.33333333%;
  }
  .offset_xxl11 {
    margin-left: 91.66666667%;
  }
  .g_xxl0,
  .gx_xxl0 {
    --gutter-x: 0;
  }
  .g_xxl0,
  .gy_xxl0 {
    --gutter-y: 0;
  }
  .g_xxl1,
  .gx_xxl1 {
    --gutter-x: 0.25rem;
  }
  .g_xxl1,
  .gy_xxl1 {
    --gutter-y: 0.25rem;
  }
  .g_xxl2,
  .gx_xxl2 {
    --gutter-x: 0.5rem;
  }
  .g_xxl2,
  .gy_xxl2 {
    --gutter-y: 0.5rem;
  }
  .g_xxl3,
  .gx_xxl3 {
    --gutter-x: 1rem;
  }
  .g_xxl3,
  .gy_xxl3 {
    --gutter-y: 1rem;
  }
  .g_xxl4,
  .gx_xxl4 {
    --gutter-x: 1.5rem;
  }
  .g_xxl4,
  .gy_xxl4 {
    --gutter-y: 1.5rem;
  }
  .g_xxl5,
  .gx_xxl5 {
    --gutter-x: 3rem;
  }
  .g_xxl5,
  .gy_xxl5 {
    --gutter-y: 3rem;
  }
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container_sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container_md, .container_sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container_lg, .container_md, .container_sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container_xl, .container_lg, .container_md, .container_sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container_xxl, .container_xl, .container_lg, .container_md, .container_sm, .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=style.module.css.map */