@import '@/styles';

.card_text {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
  h2 {
    @include ff-maru(24px, 36px);
    color: $color-heading;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
  }
}

.cards {
  display: flex;
  overflow: hidden;
}

.card {
  width: 496px;
  height: 584px;
  flex-shrink: 0;
  border: 1px solid $light;
  margin-top: 28px;
  margin-bottom: 122px;
}
.card:nth-child(1) {
  margin-right: 24px;
}
.card:nth-child(2) {
  margin-right: 24px;
}

.card_img {
  margin: 13px 19px;
  width: 457.477px;
  height: 322.979px;
  flex-shrink: 0;
}

.card_body {
  padding: 0 35px;
  p {
    color: $color-shade-3;
    @include ff-noto;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    margin-bottom: 26px;
  }
  h3 {
    color: $color-shade-3;
    @include ff-noto;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    margin-bottom: 11px;
  }
  h4 {
    color: $primary;
    @include ff-noto(12px, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 36px;
  }
  .link{
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
  }
}


