@import "@/styles";

.courseSec {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height: 656px;

}

.courseText {
    h2 {
        @include ff-maru(36px);
        color: #424242;
        font-weight: 700;
        line-height: 66px;
        word-wrap: break-word;
        margin-bottom: 15px;
    }

    p {
        @include ff-noto(14px, 18px);
         color: #757575;
        font-weight: 400;
        line-height: 30px;
        width: 440px;
        word-wrap: break-word;
        margin-bottom: 60px;
    }

}

.courseImg {}

