@import "@/styles";

.courseSec {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 656px;
    margin-bottom: 60px;
    background-image: url(../../public/homepagePic/bgc.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 20px) center;


}

.courseText {
    h2 {
        @include ff-maru(24px,36px);
        color: $color-heading;
        font-weight: 700;
        line-height: 66px;
        word-wrap: break-word;
        margin-bottom: 15px;
    }

    p {
        @include ff-noto(14px, 18px);
         color: $color-body;
        font-weight: 400;
        line-height: 30px;
        width: 440px;
        word-wrap: break-word;
        margin-bottom: 60px;
    }

}

.courseImg {}

