@use '@/styles' as s;

.detailGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 110px;
}
.prodImgSmBox {
  @media (max-width: 1200px) {
    .prodImgBox {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1200px) {
  .rwd {
    display: none;
  }
}
.prodImgSmBox {
  width: 129px;
  height: 129px;
}
.headerGrid {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}
.header {
  color: s.$gray-800;
  margin-bottom: 40px;
  font-weight: 700;
}
.btnGroup {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p{
  font-size: 18px;
  font-weight: 400;
}
.radio {
  cursor: pointer;
  text-wrap: nowrap;
  padding: 15px 25px;
  border-radius: 8px;
  border: 1px solid s.$primary;
  color: s.$gray-600;
  font-size: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.selected {
  background: s.$primary;
  color: s.$white;
}
.hidden {
  display: none;
}

.btnSubmit {
  cursor: pointer;
  padding: 18px 45px;
  border-radius: 8px;
  border: none;
  background: s.$primary;
  color: s.$white;
  font-size: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-wrap: nowrap;
}
// .btnDisable {
//   width: 111px;
//   height: 36px;
//   border-radius: 8px;
//   border: none;
//   background: s.$gray-400;
//   color: s.$white;
// }

.mt {
  margin-top: 61px;
}
.priceGroup {
  margin-top: 47px;
}
.price {
  color: s.$shade3;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-right: 27px;
}

.mt {
  margin-top: 60px;
  align-items: center;
}
.cs3 {
  color: s.$shade3;
  font-size: 18px;
  text-wrap: nowrap;
  font-weight: 400;
}
