@use '@/styles' as s;


/* .shade3 */
.shade3 {
  color: s.$shade3;
  margin-top: 123px;
  font-family: 'Zen Maru Gothic';
}

/* .detailGroup */
.detailGroup {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1200px) {
    margin-top: 60px;
  }
}

/* .prodImgSmBox */
.prodImgSmBox {
  width: 129px;
  height: 129px;
}

/* .headerGrid */
.headerGrid {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}

/* .header */
.header {
  color: s.$gray-800;
  margin-bottom: 40px;
  font-weight: 700;
}

/* .handleFavIcon */
.handleFavIcon {
  @media (max-width: 992px) {
    display: none;
  }
}

/* .btnGroup */
.btnGroup {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .p */
.p {
  font-size: 18px;
  font-weight: 400;
}

/* .radio */
.radio {
  cursor: pointer;
  text-wrap: nowrap;
  padding: 15px 25px;
  border-radius: 8px;
  border: 1px solid s.$primary;
  color: s.$gray-600;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 18px;
}

/* .selected */
.selected {
  background: s.$primary;
  color: s.$white;
}

/* .hidden */
.hidden {
  display: none;
}

/* .mt */
.mt {
  margin-top: 60px;
  align-items: center;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

/* .NumberPanel */
.NumberPanel {
  @media (max-width: 992px) {
    width: 100% !important;
    font-size: 24px;
  }
}

/* .fixed */
.fixed {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex; /* 使用 flexbox 进行布局 */
  justify-content: center; /* 居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  gap: 10px; /* 元素之间的间距 */
  padding: 10px; /* 可选的内边距 */

  @media (max-width: 992px) {
    position: fixed;
    justify-content: space-between; /* 元素之间的间距，并且让元素排列在两侧 */
  }
}

/* .btnSubmit */
.btnSubmit {
  cursor: pointer;
  padding: 18px 45px;
  border-radius: 8px;
  border: none;
  background: s.$primary;
  color: s.$white;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  text-wrap: nowrap;
  flex-grow: 1;
}

/* .btnDisable */
.btnDisable {
  border: none;
  background: s.$gray-400;
  color: s.$white;
  text-wrap: nowrap;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 18px;
}

/* .priceGroup */
.priceGroup {
  margin-top: 47px;
}

/* .price */
.price {
  color: s.$shade3;
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 27px;
}

/* .cs3 */
.cs3 {
  color: s.$shade3;
  font-size: 18px;
  text-wrap: nowrap;
  font-weight: 400;
}

/* .mbFavIcon */
.mbFavIcon {
  @media (min-width: 992px) {
    display: none;
  }
}
