@use '@/styles' as s;

.detailGroup {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1200px) {
    margin-top: 60px;
  }
}

.prodImgSmBox {
  width: 129px;
  height: 129px;
}
.headerGrid {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}
.header {
  color: s.$gray-800;
  margin-bottom: 40px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .handleFavIcon {
    display: none;
  }
}

.btnGroup {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p {
  font-size: 18px;
  font-weight: 400;
}
.radio {
  cursor: pointer;
  text-wrap: nowrap;
  padding: 15px 25px;
  border-radius: 8px;
  border: 1px solid s.$primary;
  color: s.$gray-600;
  font-size: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.selected {
  background: s.$primary;
  color: s.$white;
}
.hidden {
  display: none;
}

.mt {
  margin-top: 60px;
  align-items: center;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.NumberPanel {
  @media (max-width: 992px) {
    width: 100% !important;
    font-size: 24px;
  }
}
.fixed {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex; /* 使用 flexbox 進行布局 */
  justify-content: center; /* 居中對齊 */
  align-items: center; /* 垂直居中對齊 */
  gap: 10px; /* 元素之間的間距 */
  padding: 10px; /* 可選的內邊距 */
  
  /* 當螢幕寬度小於 992px 時 */
  @media (max-width: 992px) {
  position: fixed;

    justify-content: space-between; /* 元素之間的間距，並且讓元素排列在兩側 */
  }
}
.btnSubmit {
  cursor: pointer;
  padding: 18px 45px;
  border-radius: 8px;
  border: none;
  background: s.$primary;
  color: s.$white;
  font-size: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-wrap: nowrap;
  flex-grow: 1
}
.btnDisable {
  width: 111px;
  height: 36px;
  border-radius: 8px;
  border: none;
  background: s.$gray-400;
  color: s.$white;
}

.priceGroup {
  margin-top: 47px;
}
.price {
  color: s.$shade3;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-right: 27px;
}

.cs3 {
  color: s.$shade3;
  font-size: 18px;
  text-wrap: nowrap;
  font-weight: 400;
}

.shade3 {
  color: s.$shade3;
  margin-top: 123px;
  font-family: 'Zen Maru Gothic';
}
.mbFavIcon{
  @media (min-width:992px) {
    display: none;
  }
}

